[2014-05-27 10:59] addyosmani opened #2 "Link to homepage gives a 404"
Per https://twitter.com/raymondcamden/status/471243680427552768

[2014-05-27 14:22] #2 closed, assigned to sgomes

[2014-06-09 21:28] Emasoft opened #3 "Bug: Doesn't work on browser Safari OS X"
This doesn't work on my Safari browser 7.0.4 (OS X 10.9.3). The page cannot scroll vertically to show the demos. the main scroll bar seems to be sized to the window height, it is like the page do not resize itself to contain the entire polymer element. I can see only a small upper part of the first chart for example, and the polymer element seems to be nested like the "overflow" property was set t

[2014-06-10 04:49] #3 closed, assigned to nobody

[2014-07-03 08:38] mwinters-stuff opened #6 "datetime format!"
I have been trying to get data from my server (java appengine) into a line chart.
The first column is a datetime. I have previously had this working using the gwt-visulization library.

I am setting the cols/rows with the following values,
cols = [{"label":"Timestamp", "type":"datetime"},{"label":"Jessica's Room", "type":"number"},{"label":"Main Bedroom", "type":"number"},{"label":"Lounge", "type"

[2014-07-19 16:50] someone1 opened #8 "Add listeners to width/height changes"
It'd be nice to redraw the chart if either of these changed for situations like responsive design!

[2014-08-18 16:26] tzolov opened #9 "Embed google-chart in custom polymer-element?"
An attempt to embed google-chart inside a custom polymer-element:

[code]

causes:

[code]

Same definition works as expected when put in the root's index.html body.

[2014-08-19 08:16] #9 closed, assigned to nobody

[2014-08-24 04:00] mwinters-stuff opened #10 "element does not use layout attributes."
having a chart, that fills the parent element, is not simple, seems the layout attributes are ignored.

This should work, providing a chart that views in a 'card' where the chart fills the entire card.

[code]

The div draws correctly taking all the available parent space, but the chart remains very small. I have to put where I load the chart data the following.

[code]

The problem beings when wa

[2014-08-28 14:22] nishacodes opened #11 "In the geo-chart, there are two text SVGs for the legend labels, one of which has stroke width of 3"
Two text SVGs overlap each other for the legend labels, and one of them has a stroke-width of 3. If the background is white, it is not noticeable, but any other color the text is unreadable. Passing in the options for textStyle for the legend only effects the second SVG, not the first. Why is this happening, and how can we select/edit it?

![screen shot 2014-08-28 at 10 20 15 am](https://cloud.git

[2014-09-01 16:39] CICCIOSGAMINO opened #12 "ENORESTARGET No tag found that was able to satisfy ~0.4.0"
I try to use the <google-chart> with Polymer0.4, Yeoman, generator-polymer0.4.1 and i get this error (what does it means ? ) :

[ciccio: ~/HTML5/polymer/g-chart]$ bower install google-chart --save
bower core-component-page#>=0.4.0 <1.0.0           cached git://github.com/Polymer/core-component-page.git#0.4.0
bower core-component-page#>=0.4.0 <1.0.0         validate 0.4.0 against git://github.com/P

[2014-09-01 18:44] #12 closed, assigned to nobody

[2014-09-02 22:30] theefer opened #13 "Title as attribute, rather than option"
AFAICS, there is currently no way to data-bind the title of a graph, as expressions don't seem to be supported within an object attribute, e.g.

[code]

One solution would be to expose this option (and perhaps others?) as its own attribute, so we could then do:

[code]

If I'm missing something and data-binding _is_ possible, please let me know!

[2014-09-05 10:33] pstjvn opened #15 "The options for width/height are not parsed correctly when calling 'draw' on the chart instance"
https://github.com/GoogleWebComponents/google-chart/blob/master/google-chart.html#L208

Here the API expects this to be a number, but the code passes a string ('300px' for example) and the chart is drawn with some defaults (400x200).

Changing the code to

[code]

fixes the issue for me.

[2014-09-26 20:48] nishacodes opened #16 "Width and Height should be number?"
The docs specify width and height should be given as a string in px. However, this caused issues for me and sometimes the underlying SVG would not detect the correct width and height. Passing these values as number rather than px fixed the issue for me.

[2014-10-08 12:22] #16 closed, assigned to sgomes

[2014-10-08 12:22] #15 closed, assigned to sgomes

[2014-10-08 14:11] #13 closed, assigned to nobody

[2014-10-08 15:47] #11 closed, assigned to nobody

[2014-10-13 16:12] #10 closed, assigned to sgomes

[2014-10-13 16:13] #8 closed, assigned to sgomes

[2014-11-10 15:37] ukabu opened #18 "google-chart-render event never fires"
The google-chart-render event never fires after the chart is drawn. This is due to adding the listener for the chart ready event after calling draw().

[2014-11-11 12:23] #6 closed, assigned to nobody

[2014-11-11 13:47] #18 closed, assigned to nobody

[2014-11-11 15:26] nomego opened #20 "Please upgrade to a new google-apis dependency"
Currently google-chart depends on google-apis ~0.3 which depends on polymer 0.4, which makes us need resolutions for polymer 0.5 for a lot of things like polymer itself, core-shared-lib, etc.

Please depend on google-apis ~0.4 or rather a new version that depends on polymer 0.5.

[2014-11-12 17:00] #20 closed, assigned to sgomes

[2014-11-14 19:35] btmura opened #21 "Support for chart event listeners"
Google Charts allows a developer to respond to the user clicking on points on the graph using event listeners.

https://developers.google.com/chart/interactive/docs/events#Event_Listeners

It seems the google-chart web component doesn't expose this API.

[2014-11-16 23:15] dani-gallegos opened #23 "Add support for Timeline charts"
It would be great to add support for the Timeline graph.

[2014-11-20 10:18] stof opened #24 "Documentation is broken in Firefox"
The documentation page shows a white page when opening it in Firefox. It works with Chromium

[2014-11-20 17:10] #24 closed, assigned to nobody

[2014-11-20 17:44] ebidel opened #25 "0.2.1's bower.json still says 0.2.0"

[2014-11-20 18:02] #25 closed, assigned to nobody

[2014-11-27 08:50] ghost opened #26 "Move dynamically added styles into Shadow DOM"
It would be good if google-chart support the Table graph.

[2014-12-18 15:55] #21 closed, assigned to sgomes

[2015-01-04 06:05] monkeyhouse opened #28 "Unable to render nested chart with a data string"
Hi, quite odd, but I found that the element didn't render when (1) inside another element (2) using a string for the data.

However, it did render when I put the data into a variable. See following not working...

    <html>
    <head>
    <title>Chart Demo</title>

    <script src="/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/google-chart/google-chart.html" />

[2015-01-08 21:27] SmokyBob commented on #26
+1

[2015-01-10 21:11] kyleledbetter opened #30 "Load new chart type packages with google.charts.load"
Any plans to implement the new Material Charts from https://developers.google.com/chart/interactive/docs/gallery/barchart#Material and https://developers.google.com/chart/interactive/docs/gallery/columnchart#Material?

[2015-01-12 12:18] sgomes commented on #30
Oh, that's new! Thanks, I'll look into this!

[2015-01-12 15:28] kyleledbetter commented on #30
Cool! Maybe just an option that toggles this:

[2015-01-12 21:17] SmokyBob commented on #26
Hi @sgomes, glad to help.
I took sometime thinking about what could be a solution that is both functional and the least difficult to manage.
Would be awesome to be able to directly get the styles from the visualization API with something like `google.visualization.getStyles()` or `google.visualization.Table.getStyles()` to get the URL and add the import in the shadow DOM from the component without

[2015-01-13 23:02] SmokyBob commented on #26
Tried to set up the observer to get the CSS.
No problem identifying when the CSS element is added to the head, when the browser finish to load the stylesheet.... but I have no Idea how to get the CSS styles themselves to add them in the shadowroot...

[Here a gist](https://gist.github.com/SmokyBob/0a263be5e8cae094f0bd) with the code I've tried
CORS is not supported so the first piece of code doesn

[2015-02-02 15:05] sgomes commented on #28
Sorry for the late reply, @monkeyhouse, but I finally managed to track this down.

Looks like ```[[ (...) ]]``` is an alternate syntax for ```{{ (...) }}```, which means that Polymer sees the string as something it has to interpret. Adding a space between the square brackets should do the trick:

```data='[ ["Month", "Days"], ["Jan", 31], ["Feb", 28], ["Mar", 31], ["Apr", 30], ["May", 31], ["Jun",

[2015-02-02 15:05] #28 closed

[2015-02-02 18:12] sgomes commented on #26
So to add to this, as far as I can tell there's currently no way to implement support for the added styling.

It's easy enough to detect changes, as @SmokyBob mentions, but we then need a way to actually apply them as needed:
- adding a link inside the shadow DOM: this approach does not work, since links are ignored inside the shadow DOM (this was a surprise to me). Polymer's apparent support for

[2015-02-03 19:33] philipwalton commented on #26
I think the `<google-chart>` element should package up some default styling in it's shadow DOM. That would be the "Web Component-y" way of doing things (rather than using global styles with the `/deep/`or `>>>` combinators). The default styling could be the same as the current table chart defaults, but I don't see any reason it has to be (it's kinda ugly).

If users want to override the default st

[2015-02-03 20:57] SmokyBob commented on #26
@philipwalton IMO adding the default styling, even if a bit old and didn't age well is a good idea and compromise.
Using the current table styling just to keep the element behave the same as the Google Chart API and avoid causing possible confusion in the users that use the `google-chart` element.

For different, more modern, Material styles we could have something like a `materialTable` chart typ

[2015-02-04 14:35] sgomes commented on #26
@philipwalton Thanks for helping out! I think it's a reasonable compromise, yes. I'm not thrilled about us keeping static CSS against a library with regular updates, but I still think it's a better approach than just throwing markup at users with no context.
As for what exactly the styling should look like, I don't think it's a big concern, as long as we have something and it's easily overridable

[2015-02-13 20:56] philipwalton commented on #26
Finally got around to working on this. Here's the PR: https://github.com/GoogleWebComponents/google-chart/pull/34

[2015-02-23 16:15] ystreibel opened #35 "Doesn't work on firefox"
Hi,

When I try to load your demo [link][1] on Firefox 32 for Debian, I have this error :

[1]: http://googlewebcomponents.github.io/google-chart/components/google-chart/demo.html

[2015-03-07 23:03] Matt2012 opened #36 "Offline?"
I think the answer is no but I just wanted to check.

[2015-03-08 03:38] ebidel commented on #36
The current element makes live requests tot he gcharts endpoints. It could be service-worker enabled someday, but that would require work and only be supported in Chrome (for now).

[2015-03-19 15:41] jilt commented on #30
thanks a lot both of you :)

[2015-03-20 20:06] SmokyBob commented on #26
Finally found a way to import the style sheets added by the Google Chart API.
tl;dr  PR: #38

Searching here and there found [this article](https://css-tricks.com/modular-future-web-components/) saying to use @import instead of the link tags... and works nicely.

[2015-03-21 16:42] jilt opened #40 "Adding Markers Geomaps"
Adding support for markers geomaps would be greatly appreciated

[2015-03-21 17:42] SmokyBob commented on #40
Are you referring to [this] (https://developers.google.com/chart/interactive/docs/gallery/geochart#Markers)
?
I've tested recreating the example from the google-chart api and seems to work.
Here the markup I used:

[code]

[2015-03-22 15:30] jilt commented on #40
Sorry, couldn't find the displayMode option in any demo file, thanks a lot for sharing :)

I used the renderChart function (from google jsapi element) to generate the chart, I probably need to replace it with drawMarkersMap() using geochart package while loading the viz, I'm generating the object using javascript to be able to load a google sheet resource for data

[2015-03-23 18:51] SmokyBob commented on #40
@jilt As this is not a bug or a feature request please close the issue.
If you need any help with your implementation please use StackOverflow (maybe post the Link here to move the conversation from here to there).
With a bit of sample code in the SO question you could get better pointers on how to implement the data loading and the chart rendering (ex. using template binding and core-ajax or the

[2015-03-24 10:31] jilt commented on #40
I'm closing the issue now, the code I'd like you to have a look at is this:

https://github.com/jilt/sheets-marker-chart

[2015-03-24 10:31] #40 closed

[2015-04-28 09:51] medinadato commented on #9
Thanks @sgomes, the hit fixed my issue. However it's pretty lame such a bug.

[2015-05-20 15:01] poliveira89 commented on #23
:+1:

[2015-06-02 09:27] patricklaf opened #45 "Observer _loadData does not work"
This observer is never called when data property is updated. Written like this, it works:

    observers: [
      '_loadData(rows, cols, data)'
    ],

[2015-06-03 07:51] dahuchao opened #46 "Chart invisible"
When i put google-chart in the template element of my module, the chart does'nt appears ?

Exemple.html
[code]

exemple-element.html
[code]

The firt chart (id:chart1) appears correctly but not the second (id:chart2).
Thanks for help.
Dahu

[2015-06-03 13:41] addyosmani commented on #46
Confirmed. @atotic do you think you might have a chance to look at why charts don't render in the 0.9/1.0 version?

[2015-06-03 15:44] tiesselune commented on #46
I got something similar in my custom element : the chart does render one time over three when i reload the page often. If I try forcing the render using the `drawChart()` method, I got a visual error two times over three :
![screenshot from 2015-06-03 17-39-24](https://cloud.githubusercontent.com/assets/2751491/7964367/a9e066d4-0a17-11e5-8f7d-c487aa58dabf.png)
And the console points to a variable

[2015-06-03 16:23] atotic commented on #46
Found the problem @addyosmani
- in the second chart, rows gets errorneously set to '[]' on initialization
- adding an extra space between two brackets makes whole thing work:

change

    rows='[["Jan", 31],["Feb", 28],["Mar", 31]]'`
to

    rows='[ ["Jan", 31],["Feb", 28],["Mar", 31]]`

I believe the problem is attribute parsing for templates inside polymer library.

[2015-06-03 16:27] brks commented on #46
Can confirm @atotic that this fixed it for me. Thank you!

[2015-06-03 16:45] atotic commented on #46
But already exists in core: https://github.com/Polymer/polymer/issues/1734

[2015-06-03 18:02] addyosmani commented on #46
Thanks @atotic!

[2015-06-04 15:55] dahuchao commented on #46
Yes ! It works. Thanks a lot. By.

[2015-06-04 15:55] #46 closed

[2015-06-05 23:01] wintersandroid commented on #45
Thanks for the "work-around"

This issue appeared for me when setting the rows property to my custom data via javascript. The chart works ok with static data on the element.

[2015-06-09 06:53] dahuchao opened #47 "How to refresh rows on web socket event"
Hello,

I use google-chart to draw the temperature graph of my raspberry captor. When my raspberry server produce a new mesure, i would like the graph to be refreshed. My component receives the new value (print in the navigator console), i refresh the variable {{ donnees }} but the google chart don't refresh the rows of the graph :-(

[code]

How to refresh these rows on web socket event ?

Thank'

[2015-06-10 18:10] peduxe opened #48 "Google chart not visible when inside an element template"
The google-chart just displays if outside a dom-module template, the element is present in the document and takes up it's space but isn't being displayed.

demo: https://peduxe.herokuapp.com/google-chart.html

[2015-06-10 21:54] atotic commented on #47
I think chart is not getting notified of data changes. Have you tried using Array Mutation API?
`this.push('donnees', [dateFMesure...)`
https://github.com/Polymer/polymer/blob/master/PRIMER.md#array-mutation

[2015-06-10 21:54] #47 closed

[2015-06-10 21:55] atotic commented on #48
Can't load example:

An error occurred in the application and your page could not be served. Please try again in a few moments.
If you are the application owner, check your logs for details.

[2015-06-10 21:56] atotic commented on #35
Works on Firefox with Polymer 1.0.

[2015-06-10 21:56] #35 closed

[2015-06-10 21:58] atotic opened #49 "_loadData(rows cols data), where da commas? and externalData bug"
Several bugs, for my pull request:

_loadData(rows cols data) had no columns

there was no @demo tag

externalDataLoading did not work because of change to event handler api.

[2015-06-10 23:30] peduxe commented on #48
It's indeed available now.

[2015-06-11 00:11] atotic commented on #48
Ah, replace `rows='[["Jan", 31]` with `rows='[ ["Jan", 31]`
Known bug in binding parsing in core Polymer.
Page also does not display in FF at all, not sure why.

[2015-06-11 00:11] #48 closed

[2015-06-11 00:32] peduxe commented on #48
@sjmiles Said it needs to import the Polymer lib asynchronously with the HTMLImport polyfill to work with FF. To what comes to the bug it's true, adding spaces fixed it.

[2015-06-12 04:39] #49 closed

[2015-06-17 13:11] Newan opened #51 "Chart not updated"
I want to refresh my Chart after X seconds, like the Demo page.
chart is embbed in polymer 1.0 (Staterkit)
[code]
But the chart does not redraw.
The code is from the demo page, with the spaces by rows for polymer….what is wrong?

[2015-06-20 07:35] #45 closed

[2015-06-23 10:40] jhrdka commented on #51
I also had a problem with combination **google-chart** + **Polymer Starter Kit**. I tried to insert simple

    <google-chart
      cols='[{"label": "Data", "type": "string"},{"label": "Value", "type": "number"}]'
      rows='[["Something", 1]]'>
    </google-chart>

but nothing showed. It started to work after I moved it outside of the main `<template is="dom-bind" id="app">`, which is not a very

[2015-06-23 22:32] SmokyBob commented on #51
@jhrdka your problem is caused by the fact that the following line:
`rows='[["Something", 1]]'`
is interpreted as a databinding ((open issue on Polymer Repo)[https://github.com/Polymer/polymer/issues/1734]), if you change as specified in the following line
`rows='[ ["Something", 1] ]'`
aka. add a space between the [[ and ]] should work as intented.

P.S. docs for the chart are not updated and use

[2015-06-24 20:16] gary-qi opened #52 "Chart size to default with service worker"
I have a chart in a paper-material with certain height 400px in polymer starter kit with service worker.

It works fine if it's in home page/route. "/"

If it's not in "/" route, when you change route to it, it shows smaller size 200px high, assume it's default

If I turn off service worker, it works fine again. It seems caching could not get my style height 400px for google-chart

[2015-06-25 00:35] gary-qi commented on #52
to be specific: with service work on, if the following is not drawn at start, when it's cached, the chart height will be 200px
[code]

[2015-06-25 13:37] gary-qi commented on #52
I can re-drawChart in resize event to fix this. Is this still a minor bug?

[2015-07-06 00:56] shanika opened #53 "Using with polymer 5.5"
I tried to use google-chart with polymer 0.5.5. Is it possible to do that? I have selected the correct versions of polymer.html and webcomponents.html at the time of installation via bower. But I get following error when I'm trying to use a basic pie chart.
<log>
Uncaught Element name could not be inferred.element @ polymer.js:10274(anonymous function) @ iron-request.html:110
</log>

[2015-07-06 06:51] SmokyBob commented on #53
@shanika to use the component with 0.5.5, you need to install version 0.2.1 of the element with the following command

The latest version is based on Polymer 1.0 and the dependencies are with the new iron-elements instead of core-elements

[2015-07-06 07:25] shanika commented on #53
I did as you mentioned and got it working. Thanks a lot. Hoping to move to Polymer 1.0 soon. :)

[2015-07-06 14:11] ebidel commented on #53
Closing :)

[2015-07-06 14:11] #53 closed

[2015-07-11 06:50] dahuchao commented on #47
I don't understand how array-mutation can help.
I did the same thing with polymer 0.5 and it works.

[2015-07-11 16:46] atotic commented on #47
1.0 does bindings differently. It can no longer automatically detect arbitrary data changes, you have to use new APIs.

[2015-07-17 18:44] vitorfavila opened #54 "Chart rendering issues when using bootstrap tab resource"
When I'm using the Bootstrap tab resource, initial tab works fine, but in other tabs, Google Chart draws the legend and the vertical title out of alignment, and the tables do not respect the width set on table options.

I'm considering a bug, cause I've tried without tabs, and worked fine.

This is the initial tab, render is fine.
![firsttab](https://cloud.githubusercontent.com/assets/13317940/875

[2015-07-19 09:11] ebidel commented on #54
Seems more like a problem with using Bootstrap tabs and the element. Can you please post a reproducible test case that shows the bug.

[2015-07-19 09:11] #36 closed

[2015-07-19 15:52] raeesiqbal opened #55 "Problem with width and support for fluid width"
I've been trying to set `width` of `google-chart`, `height` attribute works just fine but `width` isn't working. I've tried setting it as tag style,
[code]
and also in style attribute as `style="width:700px;height:350px"`. I've also tried to change it from the `google-chart.css` but that didn't work also.

What is the correct way of doing so, and does it support `%` unit?

It would have been real

[2015-07-19 16:21] raeesiqbal commented on #55
Never mind, I was because of old version of polymer lib.

[2015-07-19 16:21] #55 closed

[2015-07-20 16:29] vitorfavila commented on #54
ebidel, I think you're right. When width is set in chart options, it works, but if the width is set on a DIV style, the chart render in a small size.

Check this jsfiddle, the main tab is ok, the second tab have width set on js, and the third tab have width set on css html.

https://jsfiddle.net/dd3eo7xd/

[2015-07-21 12:08] timeu opened #56 "Re-render chart when updating the options property"
Currently the chart is not re-rendered when the options property is changed.

[2015-07-22 20:21] ebidel commented on #54
IIRC, this makes sense. The google chart needs an explicit width to render its svg container. So I think you'll need to set one on each tab.

[2015-08-16 18:47] krainboltgreene commented on #13
Is there a particular reason this isn't using the `data-` microformat? Seems perfect.

[2015-08-16 18:48] krainboltgreene opened #57 "Break this out into multiple components"
`<google-chart-line>`
`<google-chart-pie>`
`<google-chart-histogram>`
`<google-chart-etc>`

[2015-08-17 00:42] ebidel commented on #57
What's the reasoning?

[2015-08-17 00:46] krainboltgreene commented on #57
It matches the patterns of others components in Elements and allows for better public APIs for some of these chart types (as some options only apply to certain chart types).

Consistency is going to be key for Elements.

[2015-08-17 01:11] ebidel commented on #57
I think for this component though you'd have a lot of duplication. You could create  a base element to do most of the business logic, but it wouldn't be very useful by itself (as opposed to an element like google-apis). Plus, it's nice to just change a `type` property and get a new type of chart.

[2015-08-17 01:35] krainboltgreene commented on #57
Yes, sure you'd some duplication (I mean that happens a lot already: `<paper-header-panel>` `<paper-scroll-header-panel>` `<paper-dropdown-menu>` `<paper-menu>` `<gold-phone-input>` `<gold-email-input>` `<gold-zip-input input>`)

[2015-08-17 01:36] krainboltgreene commented on #57
Also, re: base object, there's a few of those already.

[2015-08-18 23:24] anmenon opened #58 "Chart not rendered inside elements"
I loaded the Polymer started kit and put a ```google-chart``` element example inside one of the  ```paper-material``` elements
[code]
Almost all paper elements are working fine but the ```google-chart``` element only shows up when I put it right below the beginning of the ```body``` tag. Everywhere else its just a blank div.

Edit 1:
I did add the following in the head like I did with the other pa

[2015-08-20 00:09] #58 closed

[2015-08-21 15:45] deedubbu opened #59 "iron-ajax dependency is restricting to version 1.0.0"
The dependency for iron-ajax in bower.json is configured as `PolymerElements/iron-ajax#1.0.0`. This is forcing bower to use version 1.0.0 and prevents updating to new bug fix versions of iron-ajax. If this was not intentional, would like to see this updated to `PolymerElements/iron-ajax#^1.0.0`.

[2015-08-26 06:28] stmudie opened #60 "New select listener added everytime chart is updated"
Every time a chart is updated `google.visualization.events.addListener` is called to add a `google-chart-select` event. This means if the chart is updated several times multiple events are fired for a single selection on the chart.

[2015-08-28 14:49] msuchecki commented on #52
Could you please be more specific how to workaround this issue?

[2015-09-21 17:54] youyix opened #63 "chart not render"
When I put `google-chart` inside the shadow dom of any custom element, the `google-chart` will not get rendered. But it works well in light dom.

For example, I defined the custom element as following.

        <link rel="import" href="../polymer/polymer.html">
        <link rel="import" href="../google-chart/google-chart.html">
        <dom-module id="a-ghouan">
          <template>
            /

[2015-09-24 15:08] youyix commented on #63
The problem now was fixed. When using inside a Polymer element, it should be *rows='[ ["Something", 1] ]'>* instead of *rows='[["Something", 1]]'>* to avoid triggering the Polymer databinding.

[2015-09-24 15:08] #63 closed

[2015-09-24 20:31] jakemac53 commented on #59
I am running into this as well....

[2015-09-24 21:08] ebidel commented on #59
Fixed in https://github.com/GoogleWebComponents/google-chart/releases/tag/1.0.3

[2015-09-24 21:08] #59 closed

[2015-10-06 11:25] crossi36 commented on #6
Sorry for reviving this issue, but I have the same problem and your provided example doesn't work for me (maybe because it's almost a year old and something has changed in that time?).

I copied your example, replaced `TIMESTAMP_GOES_HERE` with an actual timestamp (tried multiple ways to format the timestamp) and get the error `Type mismatch. Value [insert timestamp here] does not match type datet

[2015-10-06 17:18] summers173 commented on #60
@stmudie is right, I was about add the same observation, there is an issue in here

[2015-10-07 12:59] TimWillis opened #66 "Re-render chart after type change"
I would like to be able to have the chart re-rendered when I do a binding to the chart's type

[code]
currently this does nothing.

Thanks

[2015-10-07 13:10] TimWillis commented on #66
I had a code block above that didn't show up. Anyway, I figured it out, my binding variable was initially undefined when the cart was drawn. Once the var was undefined the element ignored the updated values I put in the var like 'pie',  and would not re-render. I'm leaving this open because it is still sort of a bug as I believe it should have rendered once I changed the binding var from undefined

[2015-10-07 17:37] ebidel commented on #66
On the [demo page](https://elements.polymer-project.org/elements/google-chart?view=demo:demo/index.html), if I change `type="pie"` -> `type="bar"` on the piechart demo, it renders correctly as a bar graph.

If you provide an undefined chart type, than https://github.com/GoogleWebComponents/google-chart/blob/master/google-chart.html#L254 will fail and not setup your chart. I think this is WAI.

[2015-10-07 17:37] #66 closed

[2015-10-15 22:26] Aydie opened #67 "Microsoft Edge / IE10: SCRIPT5007: Object expected osd.js (15,199)"
http://www.wotzilla.com/?playerName=aydie&clanName=&from=2015-10-01&until=2015-10-16

Click on
Player -> Activity chart
or
Player -> WN8 chart

Those charts work fine in Firefox or Chrome, in Internet explorer / Edge it shows the console error
SCRIPT5007: Object expected osd.js (15,199)
and the charts are messed up.

Any ideas?

[2015-11-03 11:26] enriquecs opened #68 "Trouble selecting an item"
Hello,

I'm trying to add data to an array when I select an item in the graph but when I select one, deselected, and go back to select, the number of elements in the array increases exponentially over 2. I noticed that the graph is not repainted again , so there is no possibility of overlap.

Do you know that can happen?

Here is the code i'm using:

if(this.selection.length != 0){
        var arr

[2015-11-04 05:52] vikjung opened #69 "DataTable not working"
trying to use DataTable format by using .arrayToDataTable it does not work.  while array works.

[code]

[2015-11-06 18:39] albertolobrano commented on #30
I will need this feature so i will take some code from #39 and create a pr if it ok for you

[2015-11-11 15:09] zoechi opened #71 "imageUri as property"
I think `getImageUri()` should be provided as property `imageUri` so it can be bound to.

[2015-11-12 02:02] jongeho1 opened #72 "stamping chart of type geo then table yields undefined chart type"
Hi there,

Facing inconsistent behavior when using multiple ```google-chart``` with varying types that are stamped into the dom at different times. A good example is stamping one of type geo then of table.

[code]

*Repro*
1. Tap Stamp Geo
2. Tap Stamp Table

This makes the element very hard to re-use!

Let me know if you need anything else!

Thanks
@jongeho1

[2015-11-13 18:33] ebidel commented on #72
Hmm, you're using `restamp`, so entirely new DOM should be created each time.
 Is this just for geo -> table or does it happen with all swaps of `type`?

[2015-11-13 19:04] undermensch opened #73 "Not working with Polymer 1.2.2"
Chart worked fine until Polymer updated to 1.2.2. Reverting to Polymer 1.2.1, chart again works.

[2015-11-13 19:07] ebidel commented on #73
Can you be more specific, also include code snippets? What features are you using?

[2015-11-13 19:07] ebidel commented on #73
1.2.2 Just came out so this is a little worrying that something is broken over there.

[2015-11-13 19:17] ebidel commented on #73
I just ran the demo page with 1.2.2, and things seem to work. There's an error in the console, but that appears with 1.2.1 as well.

[2015-11-13 20:26] undermensch commented on #73
If I place the chart component in a custom component, It will work in Polymer 1.2.1, but not in 1.2.2. In _createDataTable, this.rows is an empty array in 1.2.2, but not in 1.2.1. If I do not place the chart within a custom component, then it works in 1.2.2.
[sample.txt](https://github.com/GoogleWebComponents/google-chart/files/34324/sample.txt)

![chart test](https://cloud.githubusercontent.com/a

[2015-11-14 01:15] jongeho1 commented on #72
@ebidel ```restamp``` was merely for exaggeration but can obviously happen when dealing w/ mutually exclusive conditions (across ```dom-if```) that are true at different times. The api on the window seems to be the commonality which is more so package dependent. It appears that loading packages in ```google-chart``` is expressed to be additive per instance but the behavior observed suggests it is

[2015-11-14 01:38] jongeho1 commented on #73
@ebidel @undermensch - i see no charts rendering when using json inside of single quotes. @ebidel see the `the-el` element template in this issue: https://github.com/GoogleWebComponents/google-chart/issues/72

If I put the json in a property, then it seems to work fine which is probably more common for dynamic data.

Thanks!
@jongeho1

[2015-11-14 01:57] jongeho1 commented on #73
I think this our scapegoat:

![screen shot 2015-11-13 at 8 55 52 pm](https://cloud.githubusercontent.com/assets/251154/11161381/019b8122-8a49-11e5-860c-fc49ebc79fd8.png)

See - https://github.com/Polymer/polymer/commit/a2c51bf11ed650085adde2be835838dfeab83c28

[2015-11-14 02:05] ebidel commented on #73
Didn't match before :) Can you report that to https://github.com/Polymer/polymer/issues/2734?

[2015-11-14 02:05] ebidel commented on #72
Repo using 1.2.1: http://jsbin.com/payopoquvu/edit?html,output

[2015-11-14 02:14] jongeho1 commented on #73
@ebidel thank you! :fire: :fire_engine:

[2015-11-15 22:02] jongeho1 opened #74 "discrepancy between shadow and shady dom default + option controlled styling for type "table""
Hi there,

I was investigating the possibility of using native shadow dom on some browsers for apps and noticed a discrepancy in style in the "table" type between shadow and shady dom. This impacts things like the ability to freeze columns, hover over background, alternating row styles and default styling.

https://gist.github.com/anonymous/5c99df756ee2f4ec318e

You may comment out line 5 to see t

[2015-11-16 02:01] ebidel commented on #71
Feel free to PR

[2015-11-16 02:03] ebidel commented on #52
This sounds like a caching bug with service worker and not a bug in the element. I'm not sure why SW would have an effect here.

[2015-11-16 02:03] #52 closed

[2015-11-16 09:34] enriquecs commented on #68
Anyone has idea about my problem? it is strange, but collapses the web.

Thanks in advance.

[2015-11-16 22:39] ebidel commented on #68
Please post a jsbin that repos the issue. You can use https://polygit.org/ for the imports.

[2015-11-16 23:56] kevinpschaaf commented on #73
After doing some forensics here, the fact that the repro above worked in `v1.2.0`-`v1.2.1` was an unintended consequence of unrelated changes.  If you test on the release prior to `v1.2.0` (`v1.1.5), it again fails to deserialize the nested JSON array literal.

There has been a longstanding issue https://github.com/Polymer/polymer/issues/1734 regarding Polymer's inability to disambiguate nested JS

[2015-11-18 11:57] enriquecs commented on #68
Ok, actually I've just seen it was my fault, sorry for posting a failed error.

[2015-11-18 11:57] #68 closed

[2015-11-18 16:41] zoechi commented on #71
Sorry, I'm not used to work with JS, I'm a Dart developer.
I guess this addition wouldn't be too hard by itself, but when I think about testing, ... I'm just not used to JS tool-chain.

[2015-11-24 09:14] bastienarm opened #75 "Using fontName property will display an error"
Hi,

I just started using google-chart element, and, when trying to use another fontName, it display an error in the console.

In my HTML template :
[code]

In my JS code :
[code]

So, I use the "Roboto-Bold" font, which is define is a css file :

[code]

Each time a chart using this font is displayed, an error occures in the console :

[code]

[2015-11-24 17:28] ebidel commented on #75
Can you put together a jsbin using http://polygit.org/?

[2015-11-26 08:48] bastienarm commented on #75
Sorry for the long answers @ebidel

Here's the jsbin : https://jsbin.com/zirujiyaja/edit?html,console,output

There is only in console :
[code]

But if you comment / remove
[code]

error will disappear

[2015-11-28 12:10] samcarecho opened #76 "Charts are not getting drawed at first load"
Polymer: 1.2.3
google-charts: 1.0.4
polymer-starter-kit: 1.2.0

Let's assume the following code as an example:
[code]

When the page renders on Chrome, the rows attribute is missing and the chart does not render at the first load of the page.
[code]

If I inject the rows using the console, as following:
[code]

The chart is drawn.

Is this a bug?

[2015-11-29 00:09] ebidel commented on #76
http://jsbin.com/cefemeqoxu/edit?html,output is working for me. What is different about your setup?

[2015-11-29 02:30] samcarecho commented on #76
@ebidel it also works for me.
For instance, when I run the google-chart demo, it works just fine and all the demo charts are displayed.

The problem happens when I run it inside the Starter Kit.
Something is causing the "rows" attribute to be removed from the "google-charts" tag.

I've added the following elements to the project:
[code]

I've pushed the entire demo code that I'm working on to:
htt

[2015-11-29 03:13] ebidel commented on #76
Ok, please report over there. I'm going to close this since the demos and code snippet your shared are working. It could be any number of things, including, build process stripping things out, vulcanization issues, etc.

[2015-11-29 03:13] #76 closed

[2016-01-17 19:44] juanramb opened #79 "Dashboards and controls"
Hi, is there a way of composing a chart with a chartRangeFilter using polymer elements? There is https://developers.google.com/chart/interactive/docs/gallery/controls but don't know if it can be used with google-chart element

[2016-01-18 00:54] ebidel commented on #79
The google-chart elements don't support that. Think we'd probably have to create something new like google-chart-dashboard.

[2016-01-21 15:50] spodatelev commented on #75
I'm also experiencing this issue with Polymer 1.2.3 and google-chart 1.0.4.

[2016-01-25 18:35] mcodetest opened #80 "Strange invisible graph bug when inside dom-module"
It seems that the graph is invisible if placed inside a dom-module AND using rows/cols attrs instead of data attribute.

Sorry for the messy report ;)

Seems to reproduce using shady and shadow dom. Tested in Chrome and Safari.

<img width="416" alt="screenshot 2016-01-25 19 32 50" src="https://cloud.githubusercontent.com/assets/16882411/12560346/7c2c6d54-c39a-11e5-98cf-7224bdb571d6.png">

[code]

[2016-01-25 18:47] mcodetest commented on #80
I figured it out. It's because this is interpreted as a data binding by polymer:

[code]

add a white space and it works:
[code]

[2016-01-25 18:47] #80 closed

[2016-02-12 00:03] steven-ferguson commented on #72
This looks like an [existing issue](https://github.com/google/google-visualization-issues/issues/1755) with trying to make multiple calls to ```google.load```. I think loading all the required packages will resolve this issue.

[2016-02-12 21:41] maria-le opened #81 "Reentrancy issues with drawChart method"
[This SO answer uncovers issues with the `drawChart` method](http://stackoverflow.com/a/35365321/1640892).

The author writes:

    // monkey-patching google-chart
    var gcp = Object.getPrototypeOf(document.createElement('google-chart'));
    gcp.drawChart = function() {
      if (this._canDraw) {
        if (!this.options) {
          this.options = {};
        }
        if (!this._chartObject)

[2016-02-13 08:16] ebidel commented on #81
Care to submit a pr?

On Fri, Feb 12, 2016, 1:41 PM Maria Le <notifications@github.com> wrote:

[2016-02-18 23:27] stmudie commented on #81
This is the same as issue #60.

[2016-03-02 06:31] satyafantain commented on #30
How can we create Material Design on Google Chart?

[2016-03-04 01:44] RyanWhite04 opened #82 "Enable gantt chart type"
Gantt charts are pretty new on the google charts api, but it would be nice to have support for them in this component.
I'd be happy to add it myself unless someone else is already working on it.

[2016-03-04 12:52] RyanWhite04 commented on #23
How is progress going with this?
If you need any help let me know.
@sgomes

[2016-03-04 15:44] addyosmani commented on #23
As this issue hasn't really been touched in some time and @sgomes has since moved off to focus on Material Design Lite (and is doing great there), I'm tempted to say it would be useful to get a PR in if folks really want to see this land. It's unlikely to be added in the short term otherwise.

[2016-03-15 03:48] wesalvaro commented on #69
#83 Added this functionality. Let me know if you have any issues.

[2016-03-15 03:48] #69 closed

[2016-03-15 03:52] wesalvaro commented on #51
I'm not able to reproduce the issue, so I'm going to close it.
@Newan please re-open if you are still having the issue and provide a link to an example of the problem.

[2016-03-15 03:52] #51 closed

[2016-03-15 03:55] wesalvaro commented on #71
I don't think this should be a standard property as it takes time to compute the imageUri and I don't think it is useful to many people. Perhaps adding an attribute to enable the updating of such a property?

[2016-03-15 03:58] wesalvaro commented on #81
I don't think this is true as the selection listener is only attached if the chartObject is newly created.

[2016-03-15 03:58] #81 closed

[2016-03-15 04:04] wesalvaro commented on #60
I don't see how this is an issue given that the addListener is gated by the check for the chartObject being null. A new chartObject is created and the listener is attached. The only way for this to be an issue is if the previous, "discarded" chart is still drawn and fires off select events.

The code was recently restructured to more clearly show this behavior and I am not currently able to reprod

[2016-03-15 04:04] #60 closed

[2016-03-15 04:09] wesalvaro commented on #30
Currently there are issues with using the Material libraries to draw charts in relation to the google-chart widget. The google.charts.load function may only be called once and loading with google.load yields buggy, inconsistent results. Also, given the differences between the material and non-material charts, i don't think it makes sense to just use a boolean attribute.

[2016-03-15 04:10] wesalvaro commented on #57
I think that certainly google-chart could be a behavior, but I think overall, the current setup is consistent with an input element with a type attribute.

[2016-03-15 04:13] #57 closed

[2016-03-15 04:13] wesalvaro commented on #79
Yeah, that would be the right approach. I'm also very interested in this, so I'll be taking a look at it.

[2016-03-15 04:28] wesalvaro commented on #75
A [more brief jsbin](https://output.jsbin.com/javozexaju) that demonstrates this is not a problem.

[2016-03-15 04:28] #75 closed

[2016-03-15 04:32] wesalvaro commented on #67
I believe this issue is related to the referenced issue and cannot be fixed at this layer.

[2016-03-15 04:32] #67 closed

[2016-03-15 04:34] wesalvaro commented on #56
This should have been fixed with #83

[2016-03-15 04:34] #56 closed

[2016-03-15 04:39] wesalvaro commented on #54
I'm going to close this issue since it seems to be solved and has been open for a while.

Please feel free to re-open!

[2016-03-15 04:39] #54 closed

[2016-03-15 04:48] wesalvaro commented on #74
[A more brief jsbin](https://jsbin.com/xurohojare/edit?output) that demonstrates this behavior.

[2016-03-15 04:50] wesalvaro commented on #74
I think this is an issue with Table [google-visualization](https://github.com/google/google-visualization-issues/issues) and cannot be addressed at this layer.

[2016-03-15 04:50] #74 closed

[2016-03-15 04:57] #73 closed

[2016-03-15 04:58] wesalvaro commented on #73
The work around using `[ [...] ]` should be used.

[2016-03-15 05:01] wesalvaro commented on #79
My current idea is to move the data into a behavior and create two elements:

    <google-chart-dashboard>
    <google-chart-control>

Theses elements should be used like so:

    <google-chart-dashboard data="...">
      <google-chart-control type="number-range" for="myChart"></google-chart-control>
      <google-chart id="myChart"></google-chart>
    </google-chart-dashboard>

[2016-03-15 07:26] wesalvaro commented on #74
This looks like the same issue brought up here: https://github.com/GoogleWebComponents/google-chart/issues/26#issuecomment-69314220 in #26 by @sgomes. There is a PR over there that we can work with.

[2016-03-15 07:53] satyafantain commented on #30
thanks

[2016-03-15 09:40] wesalvaro commented on #71
I've created a PR to support this #87.

I measured the time taken for the charts in the demo page and all were very low (<10ms).

However, the charts on the demo page are small. Perhaps with larger charts, the time needed will be much greater... If someone wants to clone and try it out, please do. I don't plan to pursue it as I don't think it is particularly useful given the easy work-around.

[2016-03-15 09:49] wesalvaro commented on #72
I believe this was fixed with #83.
I was able to reproduce it before but not after.
Let me know if you are still experiencing the issue.

[2016-03-15 09:49] #72 closed

[2016-03-15 12:54] wesalvaro commented on #23
PR #88 fixes this.

[2016-03-16 03:05] #23 closed

[2016-03-16 07:47] wesalvaro commented on #82
Gantt chart package cannot be loaded from `google.visualization`. It requires the use of `google.charts.load` which can only be called once. That means that we must change the way this element works, either by adding an element to specify the needed packages on the page to load or by loading all of the packages.

So, we'll have to hold off on this for now, I think.

[2016-03-16 07:49] wesalvaro commented on #82
I'm going to close this issue and wrap it into #30 as the work required is the same to include the new material charts and this chart type as they both load through `google.charts.load`.

[2016-03-16 07:49] #82 closed

[2016-03-16 08:50] wesalvaro commented on #79
I have a preliminary CL with this functionality in #91.

[2016-03-17 07:37] wesalvaro opened #92 "Selection change causes redraw"
Not only is this unnecessary, but it can cause bugs.

Specifically, with the Table chart:

Selecting an item on a page > 1 will cause the redraw and the table will go back to page 1.

[2016-03-22 05:57] #92 closed

[2016-03-24 22:36] ktiedt opened #94 "Support additiona chart types such as Annotation charts"
See: https://developers.google.com/chart/interactive/docs/gallery/annotationchart

[2016-03-28 17:18] VelizarVESSELINOV opened #95 "annotation chart is not managing well large data"
When more than 100 000 points are passed to annotation chart, the chart and the webpage is crashing/not displaying correctly.

[2016-03-28 17:23] VelizarVESSELINOV opened #96 "Annotation chart displayRangeSelector is using only "log scale version""
For negative data, "log scale version" is not working. And normal scale is desired for a lot of data that are not financial.

[2016-03-28 17:25] VelizarVESSELINOV opened #97 "Annotation chart not possible to inverse range of the displayed variable"
Example: display 0 (top range) to 1000 (bottom range)

[2016-03-28 17:30] VelizarVESSELINOV opened #98 "Annotation chart not possible to display more than one type of data"
Challenge some of the data has different value ranges like temperature and pressure, today the only option is to put them in the same scale which make the plot unreadable. Several vertical tracks will be preferred option, another option will be to manage several scales on the same track.

[2016-03-28 18:16] ebidel commented on #96
Please provide a jsbin that repos the issue.

[2016-03-28 18:16] ebidel commented on #97
Please provide a jsbin that repos the issue.

[2016-03-28 18:16] ebidel commented on #98
Please provide a jsbin that repos the issue.

[2016-03-28 21:30] VelizarVESSELINOV commented on #96
Can you be more precise about jsbin?

From your documentation:
[code]

I want to have displayRangeSelector true, but not with **log scale version**, but **normal scale version**.

[2016-03-28 23:01] ebidel commented on #96
https://github.com/Polymer/polymer/blob/master/CONTRIBUTING.md#filing-bugs

[2016-03-29 00:20] VelizarVESSELINOV commented on #96
Thank you for the polymer contributing policy, not sure what is the link with Google Charts.
The document is talking about bug issue submission, do I need to understand that you accept only bug submissions and enhancement suggestions are ignored by default by Google chart.

[2016-03-29 00:41] ebidel commented on #96
Sorry. It was unclear from your original comment that this was a feature request. "For negative data, "log scale version" is not working." reads like a bug.

In the future, it would be helpful if you could mention that along with enumerating the intended behavior and existing behavior (if any). I asked for a jsbin because I assumed this was a bug report based on your comment.

I'm confused on what

[2016-03-29 07:15] VelizarVESSELINOV commented on #96
I think I submitted the tickets to the wrong Google Chart issue list. Apparently there is another one https://github.com/google/google-visualization-issues/issues/ with less polymer focus. If you wish close the issues I will submit them in the more general Google chart issue project.

[2016-03-29 07:15] #96 closed

[2016-03-29 07:19] VelizarVESSELINOV commented on #95
Submitted to an unappropriated project

[2016-03-29 07:19] #95 closed

[2016-03-29 07:21] VelizarVESSELINOV commented on #97
Submitted to an unappropriated project

[2016-03-29 07:21] #97 closed

[2016-03-29 07:23] VelizarVESSELINOV commented on #98
Submitted to an unappropriated project

[2016-03-29 07:23] #98 closed

[2016-03-30 03:48] wesalvaro commented on #94
This might be an easy change or it could encounter the same roadblocks as #30.
I'll take a look soon.

[2016-03-30 06:14] ktiedt commented on #94
I've did a bit of digging, its a 3 line change to make annotation-chart load, however, it is incompatible with ShadowDOM due to external CSS requirements.

[2016-03-31 02:05] emandere opened #99 "Error when using google-chart-select event with candlestick charts"
I am able to load/display a candlestick chart. However I get the following error when I try to listen to the google-chart-select event.

**Error**

type 'EventImpl' is not a subtype of type 'CustomEvent' of 'e'.
#0      ForexMainChart.ready.<anonymous closure> (package:forex/forex_session_main_chart.dart:28:61)
#1      Function._apply (dart:core-patch/function_patch.dart:7)
#2      Function.apply

[2016-03-31 02:17] wesalvaro commented on #99
This looks like a bug in your code and not specific to Candlestick charts.

    mainChart.on['google-chart-select'].listen((CustomEvent e) {
      window.alert(e.detail['selection'].toString());
    });

I'm not a Dart person, but it looks like the error is because the event fired is not a `CustomEvent`, it's an `EventImpl`. If this is not correct, you will have to talk to the Polymer team as the

[2016-03-31 02:17] #99 closed

[2016-04-01 04:15] wesalvaro commented on #94
Yes, but that is consistent with the Table chart, too, right?

[2016-04-08 06:03] wesalvaro opened #101 "Pull title option from element title attribute"
Options is really ugly. Common options should be able to be set on the element itself.

[2016-04-08 06:04] wesalvaro opened #102 "Determine options size options using computed size on the element"
The google-chart element may be size 1000px x 1000px but the chart will only be drawn at 400px x 300px. The element should get its computed size and set the option appropriately.

[2016-04-08 06:06] wesalvaro opened #103 "Redrawing chart does not reselect"
This is a regression from the recent selection event fix.

A redraw event should reselect on the chart as charts do not retain their state on redraw.

[2016-04-11 12:55] oguzAtes opened #104 "Question: how to show data table with respective label in Column Chart of Google Chart API"
Hi all,

how to show data table with respective label in Column Chart of Google Chart API ?
is it possible ?
Like below picture
Thank you
![image](https://cloud.githubusercontent.com/assets/6254684/14427391/308be434-fffd-11e5-96ad-0ddf4d1f516f.png)

[2016-04-12 04:26] wesalvaro commented on #104
Hmm, I've never seen anything like that but you try asking the Google Visualization team.

This project is just a Polymer wrapper that passes options down to them.

[2016-04-12 04:26] #104 closed

[2016-04-12 06:43] oguzAtes commented on #104
How can contact Google Visualization team ? thank you

[2016-04-13 06:08] wesalvaro commented on #104
@oguzAtes I think this is the proper place:
https://github.com/google/google-visualization-issues/issues

[2016-04-13 16:55] timeu opened #105 "URL as datasource can only be used once"
When using an URL for loading data via `iron-request` only the first request will work. All consecutive requests (i.e. when the URL changes) will fail with a null exception on this line: https://github.com/GoogleWebComponents/google-chart/blob/master/google-chart.html#L460

The reason is because `google-chart` re-uses a single `iron-request`. However `iron-request` can only be used once. As soon a

[2016-04-14 06:56] oguzAtes commented on #104
@wesalvaro thank you

[2016-04-20 01:27] aquadisco opened #106 "No redraw after clearing rows/cols property"
Might be an issue on my end, but i've been unable to get the chart object (using as a DataTable) to redraw itself as ...i guess ;nothing'?... after i clear out the row and column data attributes.  I've tried this two ways.

`            <google-chart
              id="activeprjtable"
              type='table'
              options='{"sortColumn": 7, "allowHtml": true}'
              cols='{{table

[2016-04-25 17:49] kenjitoyama commented on #94
Any news on this? I'm interested in using Annotation charts with Polymer.

[2016-04-28 05:49] wesalvaro commented on #105
Sounds good.

[2016-04-28 06:00] wesalvaro commented on #106
What version are you using?
I think this is a bug that was fixed in #83.

[2016-04-28 06:05] wesalvaro commented on #94
@kenjitoyama You can add those three lines to the configuration object in the code to try it out. I haven't done it but I suspect you may run into the CSS issues that @ktiedt mentions.

[2016-04-28 15:15] aquadisco commented on #106
I've got 0.1.4 installed currently

[2016-05-02 20:35] aquadisco opened #108 "Option to output expanded error reporting?"
`iron-ajax` has the attribute `verbose` which, when true, logs error messages to the console.  Could something link this be added to google-chart?  In my experience, i struggle to understand why my chart isn't showing since it seems to silently fail if something is wrong.

My opinion would be "the more output, the better" to help identify where things are failing.

[2016-05-03 17:28] aquadisco opened #109 "Docs: Add documentation on how to style this element"
For the paper components, we get a section on Styling in the documentation and are provided with custom CSS properties to work with.  Could some style guidance be added for this element?  I'm not sure of the proper approach.

Looks like many elements classified as "google web components" don't provide guidance.  Youtube does, but that's the only one i noticed.

[2016-05-19 20:28] vderosa opened #110 "Closure compilation fails"
Hi,
it looks like closure compilation fails for this component, despite the annotations. For example in google-chart.html the annotation @type array should be @type Array. Changing this triggers further type issues.

Is there any plan to fix this?

[2016-05-29 14:15] pensierinmusica opened #111 "Donut chart"
Can you please add the [donut](https://developers.google.com/chart/interactive/docs/gallery/piechart#donut) chart to `type` options?

Thanks!

[2016-05-30 00:14] pensierinmusica commented on #111
Oops, I just realized that this is achievable [through options in the pie chart](https://developers.google.com/chart/interactive/docs/gallery/piechart#making-a-donut-chart).

Might be worth mentioning in the docs...

Cheers!

[2016-05-30 00:14] #111 closed

[2016-06-01 13:51] cbelden opened #112 "Not loading Google Charts correctly according to Google Charts docs"
The Google Charts documentation highlights a particular way to load current/frozen versions of the Google Charts API to ensure the latest stable version of the Google Charts library is loaded.

[From the docs](https://developers.google.com/chart/interactive/docs/basic_load_libs):

Old loading code:
[code]

New loading code:
[code]

[2016-06-02 15:51] jay8t6 opened #113 "Gantt Chart and Calendar support?"
The following charts are missing in the component, can you please add them?

Gantt
Calendar
Intervals
Sankey Diagrams
Diff
Timelines
Trending
Waterfall
Word Trees

[2016-06-06 23:44] cbelden commented on #112
Any update on this?

[2016-06-07 00:44] ebidel commented on #112
The old way will still work, correct? Is there anything the new way gets you?

Feel free to send a PR for an updated snippet.

[2016-06-07 13:35] yglodt commented on #106
Maybe this is related... The following code does not work either, using the latest google-chart.html:

[code]

[2016-06-07 14:34] cbelden commented on #112
Hi ebidel, thanks for getting back to me.

I sent a PR, and am currently failing the CLA check. I am a Google employee, and I'm part of the Google GitHub org; however, I use my personal email for this account. Is that an issue?

[2016-06-07 16:07] ebidel commented on #112
You should link your github username on go/github and it'll get picked up by the CLA.

[2016-06-08 23:08] #112 closed

[2016-06-09 08:39] fmauNeko commented on #112
There's a regression with this, it is not possible to call back google.charts.load() to load another package.

The demo page itself is broken starting with the table, which displays `Error: google.charts.load() cannot be called more than once with version 45 or earlier.`

Switching the version from `'current'` to `'upcoming'` triggers another error, `TypeError: ctor is not a constructor`, at googl

[2016-06-09 08:43] fmauNeko opened #115 "Multiple calls to google.charts.load() not allowed."
Hello,

There's a regression that appeared with the release of version 1.0.5 (Merge of #114), it is not possible to call back `google.charts.load()` to load another package.

The demo page itself is broken starting with the table, which displays `Error: google.charts.load() cannot be called more than once with version 45 or earlier.`

Switching the version from `'current'` to `'upcoming'` triggers

[2016-06-09 10:12] fmauNeko commented on #115
After further inspection, I think it's because multiple getChartPackage() calls start multiple load() calls, and when the first one is done, it calls the onLoadCallback resolving the promise for all parallel calls, so as I call it for 'corecharts' first then 'table', the promise for 'table' is resolved when 'corecharts' finishes loading, thus resolving the Promise without the Table elements.

[2016-06-09 16:35] cbelden commented on #115
This is a known limitation with the new loading API: https://developers.google.com/chart/interactive/docs/basic_load_libs#basic-library-loading (search the page for "limitations")

I can definitely see how this will break a lot of people; easiest case I can think of is just having two google-chart component instances on a page (haven't actually tested this).

[2016-06-09 17:03] fmauNeko commented on #115
That's actually what I'm already doing, I have a pie chart component then a table component, which doesn't work.
Code is something like this (forgot to push before leaving work.)
`
<google-chart
        type='pie'
        options='{"title": "Origine des réservations web", "pieHole": 0.4}'
        data='/api/origin'>
</google-chart>
<google-chart
        type='table'
        options='{"title": "Ori

[2016-06-09 17:29] ebidel commented on #115
@cbelden I think we might have to roll back your PR if this is breaking people. I didn't realize
it was a breaking change. Any idea when the new loader might support multiple calls to load()?

[2016-06-09 17:37] fmauNeko commented on #115
Apparently it's already in progress, as the upcoming version already supports them, even though the callbacks aren't called correctly. I wonder if there would be a way to test if the google.visualization object is the right one before resolving the promise (line 137).

[2016-06-09 19:09] cbelden commented on #115
It looks like the team plans to release a fix June 13th (version 45). Rolling back until then is probably the right call.

[2016-06-10 11:47] jongeho1 commented on #115
👍  seeing same behavior when using multiple chart types together. fixing to 1.0.4 mitigates.

[2016-06-15 19:03] ebidel commented on #115
@cbelden can you confirm if the charts fix is in place? If it is, do we need to do anything here?

[2016-06-15 19:07] #105 closed

[2016-06-15 19:08] ebidel commented on #115
Going to close this as I think it's fixed. Please reopen if you see otherwise.

[2016-06-15 19:08] #115 closed

[2016-06-15 19:24] admwx7 commented on #26
Any chance we'll get a resolution to this?  I'm in need of the org chart and it has this same issue.

[2016-06-15 20:35] jitadash opened #118 ""google.charts.load() cannot be called more than once with version 45 or earlier""
google-chart type="treemap" stopped working with error "Error: google.charts.load() cannot be called more than once with version 45 or earlier." same for gauge charts as well in the polymer web page

[2016-06-15 21:58] ebidel commented on #118
What version of the component are you using?

[2016-06-16 05:02] jitadash commented on #118
i am using the latest version of google chart. Even on the polymer page of google components "https://elements.polymer-project.org/elements/google-chart" in the demo link, those components doesnt work anymore.

Here's a table chart:

Error: google.charts.load() cannot be called more than once with version 45 or earlier.
Here's a timeline chart:

Error: google.charts.load() cannot be called more th

[2016-06-16 10:53] ketile commented on #118
I get the same error as @jitadash on several of the charts on the [Polymer Chart Element](https://elements.polymer-project.org/elements/google-chart?view=demo:demo/index.html&active=google-chart) page.

[2016-06-16 11:46] wesalvaro commented on #106
I don't think that calling native push on an object in Polymer ever works.

[2016-06-16 11:48] wesalvaro commented on #110
Sure, the annotations shouldn't be wrong. I think it just hasn't ever been compiled by anyone over here.

[2016-06-16 11:57] addyosmani commented on #110
That's likely correct. If anyone is interested in submitting closure compiler fixes that would make the element compatible with builds, I'm sure we'd be happy to review a PR.

[2016-06-16 19:56] ebidel commented on #118
This is a known issue. See https://github.com/GoogleWebComponents/google-chart/pull/114.

@wesalvaro wdyt? Should we roll back to your loading method?

[2016-06-17 05:41] jitadash commented on #118
Hi ebidel,

Will this issue be resolved soon?

[2016-06-17 09:58] fmauNeko commented on #118
It seems that 'current' still points to '44' even though it should have been switched to '45' on Monday, June 13th.
I think the best option would be to force loading of '45' and to switch to ChartWrapper as @wesalvaro said in #114.

[2016-06-17 15:00] phidias51 opened #119 "Specifying google-charts attributes with " results in error msgs"
I'm not sure if this is a code bug, or a documentation bug, but after spending the better part of a day dealing with vague error messages I thought I should report it.  Apparently if you specify google-chart tag attributes using double-quotes, exceptions will be thrown.  For example, if you specify options using

[code]

Most people use " for attributes as this is the HTML and XML standard and it'

[2016-06-17 15:27] ebidel commented on #119
This is documented in Polymer'd API docs. If you're using JSON directly in an attribute it needs to be valid JSON (double quotes for keys. https://www.polymer-project.org/1.0/docs/devguide/properties#configuring-object-and-array-properties

DO you want to send a PR that adds the note to the google-chart docs?

[2016-06-17 16:21] phidias51 commented on #119
It would be useful to have that section of the doc repeated or re-emphasized in the google-chart docs.

[2016-06-18 11:46] ebidel commented on #118
I'm seeing infinite loop issues with using 'upcoming'/45 as as a version. Working with the team to figure out what's up.

[2016-06-18 14:52] #119 closed

[2016-06-20 12:43] tiagomapmarques opened #120 "LineChart: vAxis line hides/shows depending on X value of first point"
Simple example:
https://jsfiddle.net/zu27thkn/1/

Comment / uncomment the variables in lines 5 and 7.

[2016-06-23 08:20] wesalvaro commented on #118
Sorry, just seeing this.
If there is a timeline to fix this with the new loading method, I say keep it as is and refer to a previous version for loading the old way. If there is no delivery date for this feature (as was the case when I looked into this before), then I say we go ahead and roll it back.

[2016-06-23 08:27] wesalvaro commented on #120
Toggling the value for me does not affect the display of the chart.
Most likely, this was a temporary bug with the Google Charts library (not this Polymer element) and it has been fixed.

[2016-06-23 08:27] #120 closed

[2016-06-25 13:29] jongeho1 commented on #26
Hi there,

I reported original related issue #74 and investigated this a bit at the time. A simple approach to resolving seems to be observe type + data changes, assure polymer settings dom is shadow, google vis + service loader api state and internalize the external css for each instance. Sample code:

[code]

[2016-06-26 01:45] wesalvaro commented on #108
I think an option like this would probably be best left enabled in your development setup as opposed to the production element.

[2016-06-29 21:27] ktiedt opened #121 "data URL option does not work in lieu of dataSourceUrl from ChartsAPI"
As seen here: https://google-developers.appspot.com/chart/interactive/docs/reference#chartwrapperobject

Maybe its not expected to, but the assumption was, it mentions URL support for the Chart API and that was a URL for the chart API.

It would be nice if it could be supported though.

[2016-06-30 18:45] pchapman opened #122 "Allow listening to other events"
Currently one can get a reference to goog.visualization via the promise provided by the pkg attribute. This is great, but it doesn't mean our needed chart type has been loaded. If something similar could be implemented for the chart constructor or instance, that'd be awesome. Then we could also take advantage of the full range of events that are provided by each chart type (ie., mouseovers, ready,

[2016-07-01 08:04] naoak opened #123 "Error handling for missing loader or missing chart package"
Hi.
I'd like to handle the title error cases.

An extreme case, Great Firewall blocks any connections to gstatic.com. Is there any way to handle this kind of errors?

[2016-07-04 03:40] naoak commented on #123
Additionally,  if gstatic.com site is down,  loading loader.js blocks whole scripting until it is timeouted. I think we should load external scripts by IronJsonpLibraryBehavior as it used to be.

[2016-07-04 06:23] naoak commented on #123
I tried rewriting the codes by using IronJsonpLibrary, but it did not go well because  `loader.js`  does not support jsonp loading...

[2016-07-10 12:23] wesalvaro commented on #122
I think your latter suggestion is more inline with the way it should work. Especially when we switch over to the ChartWrapper approach. The visualization module is exposed currently for being able to create a DataTable/DataView/DateFormat/etc.

I think it makes a lot more sense to expose a way to listen to other events, though.

I would actually suggest probably just using the normal Polymer event

[2016-07-10 12:42] wesalvaro commented on #123
Yes, that was the original reason that the google-api-loader was dumped. But then the `loader.js` did not support being loaded more than once...

We could do some magic, but not being able to access `gstatic.com` is probably an issue specific to _only_ the great firewall... so it doesn't really make sense to me to do so in this component. I think it makes the most sense for the new loader to have

[2016-07-10 12:46] wesalvaro commented on #121
I don't understand what you are referring to. Would you please please explain a little more or give an example?

[2016-07-10 12:58] wesalvaro commented on #109
This component is simply a wrapper around the chart library. You'll find the information you're looking for about styling your charts at the [Google Visualization site](https://developers.google.com/chart/interactive/docs/basic_customizing_chart). There is also an example on the demo page of this component.

[2016-07-10 17:18] ktiedt commented on #121
Straight from the above link referenced in the title

[code]

[2016-07-11 02:44] naoak commented on #123
@wesalvaro Thanks for your clarification and suggestion. Actually, I've already created its fork [here](https://github.com/naoak/google-chart/commit/d94a9744b7fdd14413fd22853935b91994aa4dd9), that works fine for now. I've not tried, but I might be able to do the similar by lazy loading google-chart component itself.

[2016-07-11 07:00] wesalvaro commented on #121
OK, that's what I thought you mean, but I wasn't sure.
Correct. The element does not currently support dataSourceUrls.
I would like to switch to ChartWrapper (and already have a couple changes to make this happen) but there are some issues with the current version of the loader which create issues when switching.
As soon as they are resolved, I'll drop in my changes to use the ChartWrapper and all

[2016-07-11 07:02] wesalvaro commented on #121
I should mention that you are currently able to use a Sheets DataSource through a Query object.

See [here](https://developers.google.com/chart/interactive/docs/datatables_dataviews#query) for more information.

[2016-07-11 08:36] ktiedt commented on #121
No problem, thanks for the info! -- Honestly I would much prefer to see full chart type suite supported over this feature... This was just a surprise when I was trying to setup a demo for some co-workers.

[2016-07-19 05:13] wesalvaro commented on #121
Yeah, for sure the DataSourceUrl should be supported. It's usage is extremely similar to the data URL in the component know but has huge fundamental differences. I'm definitely interested in twisting this element around to look almost exactly like the API for a ChartWrapper soon.

[2016-07-19 22:17] ebidel opened #126 "Release notes for 1.1.0"
@wesalvaro Can you create some bullet points with the major changes and examples with the new loader?

[2016-07-20 03:27] wesalvaro commented on #126
# Major Changes

- A new element `googleChartLoader` has been created. See below for details.
- Package loading is debounced to load all packages in one call.

# Bug Fixes

- `google.charts.load` is only called once
- Material chart types may be added (`md-bar` added as sample)
- Some tests were updated

# Minor API Changes

- `google-chart-render` event correctly renamed to `google-chart-ready`
-

[2016-07-20 03:51] wesalvaro commented on #126
I'm not sure how big of a deal a release is, but I had another change #127 that I wanted to get in. Working on fixing the PR right now.

[2016-07-20 03:54] wesalvaro commented on #122
I've added the new loader which attaches events to a chart object in #124, but it still needs some work to be used outside of the `googleChart` element.

[2016-07-20 03:55] wesalvaro commented on #118
Fixed by #124

[2016-07-20 04:11] #118 closed

[2016-07-20 04:12] ebidel commented on #126
Awesome, thank you! I'll release after 127 is merged.

[2016-07-20 07:35] cwayfinder opened #128 "Some charts in the demo don't work anymore"
There is message instead of a chart:
Error: google.charts.load() cannot be called more than once with version 45 or earlier.

![image](https://cloud.githubusercontent.com/assets/355902/16978648/96a00b68-4e65-11e6-8734-c7feea21a8ae.png)

[2016-07-20 07:37] wesalvaro commented on #128
Yes, this is a known issue that was fixed with #124. Thank you for the report. The new version 1.10.0 will be available very soon.

[2016-07-20 07:37] #128 closed

[2016-07-20 07:42] wesalvaro commented on #108
It shouldn't be silently failing, though. Do you have an example?
Errors are usually shown in the console or in the chart HTML.

[2016-07-20 07:45] wesalvaro commented on #106
So, I think the issue is that you need to call Polymer's `push` method to let Polymer know about the change to the rows. Without that, no change is known and the proper conversion of `rows -> DataTable` is not done. That means even the call to `drawChart` would have no effect.

[2016-07-20 07:45] #106 closed

[2016-07-20 07:46] wesalvaro commented on #103
This looks fixed at least as of #124.

[2016-07-20 07:46] #103 closed

[2016-07-20 07:47] wesalvaro commented on #113
Yes, we'll track progress in #94

[2016-07-20 07:47] #113 closed

[2016-07-20 07:49] wesalvaro commented on #71
I'm going to close this since we couldn't get it working ideally.
It's possible to create the image as a computed value on `chart.drawn` as of #127
Without any other ideas, I think that's a good compromise.

[2016-07-20 07:49] #71 closed

[2016-07-20 07:50] wesalvaro commented on #30
BarChart was committing with #124. I'll hopefully get around to adding and testing the other chart types soon. We'll track all this in #94.

[2016-07-20 07:50] #30 closed

[2016-07-20 07:53] wesalvaro commented on #110
I've updated some of these types in #127
However, I still think it's wrong for the closure compiler.
I've yet to look in detail at compiling a Polymer element, but an `@type` should look more like:

    @type {Array|Object|string|undefined}

than what it is now.

[2016-07-20 08:02] wesalvaro commented on #110
Ah. Figured it out. Yeah, let's get this in with #127 for version 1.1.0

[2016-07-21 01:44] wesalvaro commented on #126
I've created a draft release [here](https://github.com/GoogleWebComponents/google-chart/releases/tag/untagged-8a8ecf852e24bc62cea0).

[2016-07-21 01:44] #126 closed

[2016-07-21 03:15] #110 closed

[2016-07-21 16:09] Gopinathp opened #132 "Need support for orgchart"
Support for orgchart is missing while the underlying google-charts support it. Neither can I add the default JS way of injecting a graph since it says I cannot load graph twice.

https://developers.google.com/chart/interactive/docs/gallery/orgchart

Please help.

[2016-07-22 06:04] #132 closed

[2016-07-22 06:06] wesalvaro commented on #132
Dup of #94

[2016-07-23 06:24] pbx9959 opened #133 "Google Chart demo fails for Table, Timeline, Three Gauges.."
https://elements.polymer-project.org/elements/google-chart?view=demo:demo/index.html&active=google-chart
Demo fails with
"Here's a timeline chart:

Error: google.charts.load() cannot be called more than once with version 45 or earlier."

[2016-07-25 05:26] wesalvaro commented on #133
This was fixed in #124

[2016-07-25 05:26] #133 closed

[2016-07-25 05:36] wesalvaro opened #134 "Add method to setOption()"
[code]
The above should set the option and then redraw the chart (probably debounced).
This is a common use case for calling `chart.redraw()`.
The underlying code will just be a call to `this.set()` and `this.debounce('redraw', redraw, 0);`

[2016-07-25 05:39] wesalvaro commented on #122
I think probably the best idea is to add an Array property `events` that will attach the proper events whenever a chart gets created.

[code]

This will fire a polymer event `google-chart-onmouseover` for the chart event `onmouseover` via `loader.fireOnChartEvent(chart, 'onmouseover')` during the chart setup.

[2016-07-25 05:44] wesalvaro commented on #122
To add, this new property would address the current lack of support as well as the current workaround of accessing the private chart variable:
[code]
The above only works if the chart type does not change. If it does (which should be very uncommon) a more complicated setup is required.

[2016-07-25 18:52] joaovieira opened #136 "Update Polymer Element Catalog with google-chart@1.1.0"
Not sure who owns that project, but would be nice to update to the latest version, as the API (specially the `.redraw()` vs `.drawChart()`) has been updated :)

[2016-07-25 20:16] pbx9959 commented on #133
See the URL as posted above, the demo is still failing.

[2016-07-26 03:53] wesalvaro commented on #136
@ebidel would know the most about getting this updated.

[2016-07-26 03:55] wesalvaro commented on #133
Thank you. Yes, the version currently being demo'd by the Polymer elements catalog is out-of-date and does not have the needed fix. We will be following the catalog update in #136

[2016-07-26 23:40] ebidel commented on #136
@tjsavage

[2016-07-27 05:13] wesalvaro commented on #136
On this note, I took a look at updating the `gh-pages` branch of this repository, as it is very out-of-date, but didn't know the proper process.

[2016-07-27 05:49] tjsavage commented on #136
Adding @blasten who can bump the catalog

[2016-07-28 00:43] tjsavage commented on #136
This has now been updated: https://elements.polymer-project.org/elements/google-chart

[2016-07-28 00:43] #136 closed

[2016-07-28 15:44] #122 closed

[2016-07-28 15:44] #134 closed

[2016-07-29 00:25] pbx9959 opened #138 "Timeline Tooltip Not Aligned to Data Item"
![image](https://cloud.githubusercontent.com/assets/1845627/17233706/21d6be9e-5586-11e6-8d60-51143ad74e4b.png)
As Shown from GWT https://developers.google.com/chart/interactive/docs/gallery/timeline#configuration-options

As shown in my example
![image](https://cloud.githubusercontent.com/assets/1845627/17233761/b0c0f854-5586-11e6-8961-90c6216e08eb.png)
Code used in my example
`<
<script src="../b

[2016-08-01 10:34] wesalvaro commented on #138
We don't actually have anything to do with the rendering of the underlying charts. This element just creates a Polymer API to the Google Charts Visualization library. If you want to report a bug about the way a chart is rendered, see [this list](https://github.com/google/google-visualization-issues/issues).

[2016-08-01 20:01] pbx9959 commented on #138
Hmm as I said, chart renders OK as far as I can see with GWT, it is only when used via Polymer that I see this. If I report it on some other list I am sure they will bounce it back and say check the highest level first to see if that is doing something odd.

[2016-08-02 01:14] wesalvaro commented on #138
All I can say is that's it's not a problem with this element. I would actually suspect it has something to do with the CSS on your page? We have [the demo site](https://elements.polymer-project.org/elements/google-chart?view=demo:demo/index.html&active=google-chart) to manually check the basic rendering of charts using this element and the timeline chart looks as it should there.

[2016-08-02 18:17] milesje opened #140 "error: Promise rejection"
This may be an issue with the polymer-cli & polymer-build, but this component is causing an error while building.

[code]

[2016-08-02 18:20] ebidel commented on #140
Yep. Can you file this over there https://github.com/Polymer/polymer-cli/issues/new?

[2016-08-02 18:20] #140 closed

[2016-08-02 21:50] pbx9959 commented on #138
There is a fundamental difference in the way we are trying to use the chart.
I load it like this (I'd use the code wrapping but it seems to then delete most of the code..)
 <google-chart id="timeline" type="timeline" data='{{data}}' ></google-chart>
Which at least seems to render the chart OK, but not the popup tooltips
and using this script, which seems valid from the documentation.
<script>

[2016-08-03 07:12] naoak commented on #123
Unfortunately, I've decided to not use google chart due to the performance issue. I was using this component for drawing a simple line chart, but this component loaded so many library files which are totally almost 1MB without gzipped. I could not ignore the payload just for the one chart.

I might not participate, but I hope google-chart for further development. If you think you don't need this f

[2016-08-03 16:03] raphaelsavina opened #142 "access to google.visualization.DateFormat with 1.1.0?"
Since I've updated to 1.1.0 I can't access DateFormat. I might need to use the new google-chart-loader but the docs, readme and release notes didn't give any indication of that.

My dates are as EPOC (1470240006293) (as `var d` in this example), I was using:
[code]

It throws:
`my-charts.html:102 Uncaught TypeError: Cannot read property 'DateFormat' of undefined`

...maybe I've removed something e

[2016-08-05 06:14] wesalvaro commented on #142
You are getting that error because the library has not been loaded yet. I'm kind of glad you're getting that error, now as it reveals a race condition that was very hard to debug with the previous version. My team suffered a huge setback because of it.

Currently, a few objects (DataTable, DataView, Query) are exposed, but there are others that may be desired.

Do you have an idea for a nice way t

[2016-08-05 06:37] wesalvaro commented on #123
I'm not sure how that's possible. It loads only the necessary amount of data for Google Visualizations for a line chart.

Here is my network panel for the chart demo page. The demo page loads all possible chart packages and data for demo purposes.
![Loading all packages](https://cloud.githubusercontent.com/assets/13286/17428077/8eb63fea-5b20-11e6-88d7-aabcf05e1268.png)
It only loads ~425KB for eve

[2016-08-05 06:48] wesalvaro commented on #138
I just copy pasted your code into a the a blank page and everything with the tooltip looks good to me. If you could create a demo online somehow that shows the issue, then I could help you further. As it is, however, I've yet to see the issue.

The way you are using the element works for me and is effectively identical to the way it is in the demo.

[2016-08-05 16:26] raphaelsavina commented on #142
That worked (#1), thanks!

Maybe having flag(s) like `googleChart.drawn` for the useful objects... would be a nicer solution.

[2016-08-08 04:53] wesalvaro commented on #142
The problem with using `drawn` is that you probably need the formatter to create the data set. `drawn` isn't true until the chart data is loaded and the data is actually drawn.

[2016-08-08 19:45] pbx9959 commented on #138
Yes I checked this on a blank page created under polymer init and agree the tooltips appear ok.
It's simple to create an example where they aren't, just do polymer init and choose the app drawer template and copy the same code into my-view1 for example.

[2016-08-10 12:57] Scarygami opened #145 "Parameter for configuring locale/language"
Currently the charts are always loaded with the default language `en`.

It would be nice to be able to configure this behavior.

For reference: https://developers.google.com/chart/interactive/docs/basic_load_libs#loadwithlocale

[2016-08-15 03:39] wesalvaro commented on #145
So, we'd probably want to do this either as a parameter to the loader or implicitly. I think implicitly might be better, but I'm not positive that it's possible.

### Loader
[code]

### Implicitly
[code]

[2016-08-16 10:14] Scarygami commented on #145
I like the implicit approach.

Replacing [the load command](https://github.com/GoogleWebComponents/google-chart/blob/master/google-chart-loader.html#L157) with this should do the trick:
[code]

I can send a PR for this if you want.

[2016-08-24 20:39] anthfran opened #147 "Pushing data not working with data binding"
Here's my chart:
[code]

Initialized property for {{graphData}}
[code]

If I do the following, data is added to graphData and the chart is updated when the page loads
[code]

However, if I have a button that does a calculations and tries to push data to the array.. nothing happens. The same submit button is able to push data to plain text data bindings which update on the page just fine.
[code]

[2016-08-24 20:52] anthfran commented on #147
Never mind.. solved it by:
[code]

[2016-08-24 20:52] #147 closed

[2016-08-29 05:47] wesalvaro commented on #147
You're correct on the issue, though.
`data.slices` is not currently being observed.
If you want to do what you were trying to do, this should get it done:
[code]

[2016-08-29 05:50] wesalvaro commented on #145
LGTM.
If you want to send a PR, that'd be great!
Thanks,
-Wes

[2016-08-29 16:22] rajan-g opened #149 "Line chart with bar chart- bar width unable to fixed"
Hi,
   I have using google chart,  It is mixed of line and bar chart, up to few day's ago bar width is fixed one, but now  I unable to fix that bar size, my plunker is  https://plnkr.co/edit/Wb9tbG3k36tR0QZDVu4u. While I am check with browser bar start form some wrong axis, kindly help me to fix this issue, I hope It is not a data issue, in case it is a data issue let me know Thank you advance

[2016-08-29 17:20] wesalvaro commented on #149
Hi, you've asked this question in the wrong place.
This is just for the Polymer-ized element for Google Charts.
You need to [ask the actual Google Visualization team](https://github.com/google/google-visualization-issues/issues) about this.

[2016-08-29 17:20] #149 closed

[2016-08-31 02:42] sonkanit opened #150 "Does not work on IE 11"
Demo page is not working on IE 11
https://elements.polymer-project.org/elements/google-chart?view=demo:demo/index.html&active=google-chart

[2016-08-31 08:53] Scarygami commented on #150
This should be fixed with https://github.com/GoogleWebComponents/google-chart/pull/146 once a new version of the component is released.

[2016-09-06 05:29] wesalvaro opened #153 "Should better support and expose Data features"
Some ideas below...

Example with current data (in addition to current approach):
[code]
rows and columns
[code]
Example with new data features:
[code]
Example with Query:
[code]

[2016-09-12 05:42] #145 closed

[2016-09-19 02:09] pm30 opened #154 "Bubble Charts - hide X Y coordinates from bubble tooltip"
When I mouse hover on any bubble, it shows me X, Y co-ordinates along with my other data. I would like to hide coordinates. In some other types of charts, I see tooltip customization is possible, however currently it's not supported by bubble chart.

[2016-09-23 21:19] ahrobinson opened #155 "Is there a way to get the data (name, value) when you click a piece of the pie chart?"
I am listening for the google-chart-select event, but it is passing back the raw chart object. Is there any way to grab the data from the selection?

[2016-09-24 16:56] eduardodallmann opened #156 "Assign ID in chart elements"
I need to assign ID to the title and subtitled chart, to use the onclick event.

I'm testing like this:
`$("svg g:eq(0) text:eq(0)").attr('id','gtitle');`
But as the chart is created dynamically, sometimes, the title element is in a different position.

Also I have used:
`$('text:textEquals("Availability of equipment")').attr('id','gtitle');`
The onclick event title is used by the user to change t

[2016-09-27 20:40] runia1 opened #157 "redraw() doesn't respect changes in containing div's size."
I set a listener for window resize events.  When fired I call redraw() in my google-chart, as I want my chart to be responsive.  to make my chart match the width of it's containing div when redrawn I have the following css:

[code]

This works when starting from a small width and getting bigger.  The window resizes and the graph is redraw with the appropriate width.  However when going from big to

[2016-10-05 04:39] sivaramgollapudi opened #158 "Cannot read property 'load' of undefined"
Error thrown when datatable object assigned to data property.
i have downloaded gviz-api.js and referenced as below  along with other reference

`<script type="text/javascript" src="gviz-api.js"></script>
<google-chart
        type='bar'
        options='{"title": "Leave Chart"}'
        data='{{leaveChartDataString}}'>
      </google-chart>`

and the iron-ajax handle response to prepare datatable

[2016-10-08 03:44] wesalvaro commented on #158
That file is not for actual use in a project. It only serves to help IDEs do auto-complete.
If you look at the contents, there is no code, only empty function definitions.

[2016-10-08 03:44] #158 closed

[2016-10-08 03:52] wesalvaro commented on #156
This is really just a wrapper around the real google-chart visualization and your question seems better poised for that team. You should copy-paste your question here:
https://github.com/google/google-visualization-issues/issues

[2016-10-08 03:52] #156 closed

[2016-10-08 03:53] wesalvaro commented on #156
For what it's worth, I think, given current constraints, you're going with a decent approach.

[2016-10-08 03:55] wesalvaro commented on #155
I'm not sure what you mean. You can see exactly what you want (I believe) in [the google-chart demo page](https://elements.polymer-project.org/bower_components/google-chart/demo/index.html). See the "area selection" demo. Or did you mean something else?

[2016-10-08 03:57] wesalvaro commented on #154
I'm not sure what you mean. [The demo for Bubble Chart](https://elements.polymer-project.org/bower_components/google-chart/demo/index.html) does not show X nor Y. This component is simply a wrapper around the actual gViz code. If you cannot figure out the solution from the demo page, you should post your question (and preferably, screenshots) to [this issues page](https://github.com/google/google-

[2016-10-08 03:57] #154 closed

[2016-10-08 04:08] wesalvaro commented on #157
Yeah, this has been a rather annoying issue for me, as well.
The last time I looked into it for a minute, it appeared to be a non-trivial fix but it's definitely possible.

[2016-10-10 15:27] ahrobinson commented on #155
I meant like if you click a slice of the pie like in the "area selection" instead of getting the row, I would be able to get the actual data for the slice (i.e. Jan, 31(17.1%)).

I ended up finding the actual chart within the raw chart data and being able to get the data back. Inside my Polymer element:

<img width="544" alt="scrshot" src="https://cloud.githubusercontent.com/assets/11637639/192413

[2016-10-11 05:51] wesalvaro commented on #155
I see your predicament. You should not be referencing those compiled properties (`['J']['J']`). It's presumed you have access to the data in the chart.
e.g. (using the `rows` property):
[code]
e.g. (using the `data` property with a `DataTable`):
[code]

Selection is meant to mirror the selection property of the chart, however, perhaps exposing the actual value via value may be a good idea... My im

[2016-10-14 00:11] JulienNexonia commented on #138
Same problem here !

[2016-10-15 17:37] ltc opened #159 "Add version property"
It would be useful to add a "version" string property to google-chart to load a different version of the charts library.  This can be a specific version or the special strings, "upcoming" and "current".  This will be useful when testing out upcoming releases or freezing an app to a specific version.

This would also be consistent with google-map, which also offers a version string property:
https:

[2016-10-18 07:29] wesalvaro commented on #138
Please submit a demo of this bug.

As stated, I tested this with the above code and it is working. There is also [a demo](https://elements.polymer-project.org/elements/google-chart?view=demo:demo/index.html&active=google-chart) that looks fine.

[2016-10-18 07:40] pbx9959 commented on #138
As stated above, it looks fine when using a blank page, but not with the polymer app drawer template (I have no idea whose issue that is). Just create an app using the app drawer template and paste in the code as above.

[2016-10-18 09:05] wesalvaro commented on #138
I do not know under which exact conditions you are experiencing this.
I have tested this and see no problems with the element itself.
So without a demonstration of the problem, I'm going to close this.
Please re-open when you can demonstrate it.

[2016-10-18 09:05] #138 closed

[2016-10-18 10:07] wesalvaro opened #162 "`ready` event doesn't seem to fire after changing chart type"
Simply changing a chart type does not trigger the `ready` event to be fired again for some reason. It seems, that, the chart library itself doesn't fire it... I have no idea what's going on.
- A new chart is created.
- `draw` is called on the new chart.
- Yet no event is fired after draw.

Doesn't seem to matter which chart types are being tested.

[2016-10-18 10:09] pbx9959 commented on #138
So it seems impossible to reopen this, did you even try the creation of a Polymer App Drawer Template App and then copying the above code?

[2016-10-18 10:42] wesalvaro opened #163 "Errors should be removed at some point"
https://developers.google.com/chart/interactive/docs/reference#error-display

[2016-10-18 10:48] wesalvaro commented on #138
It is definitely not impossible to re-open this. I'm simply asking for a demo. That's it.

I'm not going to spend more time _hoping_ that I can reproduce your situation. I did copy paste your code into a blank slate and it works as expected. The element's demo also works as expected. You are more than welcome to re-open this with a working example of the error. However, I'm not going to continue t

[2016-10-18 11:59] wesalvaro commented on #121
I've created a PR that adds a Query element.
This way, you could do:
[code]

[2016-10-20 12:03] Junikorn opened #165 "When only 1 record provided axis date shown is always 1st january"
$0.set('rows', [[new Date('2016.09.09'), 2, 4]]);
$0.set('type', 'line')
$0.set('cols', [{"type":"date","label":"Time"},{"type":"number","label":"Morning session"},{"type":"number","label":"Evening session"}]);
$0.set('options', {"title":"Average session yield","chartArea":{"left":80,"width":863,"top":40,"height":260},"curveType":"function","pointSize":4,"hAxis":{"title":"Date","format":"dd.MM"},"

[2016-10-27 18:52] inesferreira opened #166 "Racios"

[2016-10-27 18:52] #166 closed

[2016-10-27 18:58] inesferreira opened #167 "ERR_CONNECTION_REFUSED"
I create a projet using Google Chart.
When i added the project to IIS, the jquery start to give errors:
net::ERR_CONNECTION_REFUSED

In every xhr.send( ( s.hasContent && s.data ) || null );

Can you hep me?

PS: In localhost it works ok.

[2016-11-01 22:01] esd100 opened #168 "Google-chart polymer demo and web API are Okay, but ..."
It would be really nice to have a "true" Polymer example of the `google-chart` element.

Specific examples of how to structure `data`, `row`, `column`, `options` using `data-binding` would be nice.

How to make it so that charts will `size` and `resize` appropriately depending on the container and with different viewports and devices, would also be nice.

For example,

[code]

[2016-11-15 11:32] eitch opened #169 "Invalid JSON string: {"title":"Days in a month"}"
I'm trying to use google-chart in my application, but the demo does not work in my project. I have the following and when rendered it says: Invalid JSON string: {"title":"Days in a month"}

    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../bower_components/paper-card/paper-card.html">
    <link rel="import" href="../../bower_components/pa

[2016-11-15 11:46] wesalvaro commented on #169
Try using an example from the demo page and see how it goes. Also, when
your property values are objects and arrays, you should be creating them
with a function.

On Tue, Nov 15, 2016, 8:32 PM Robert von Burg <notifications@github.com>
wrote:

[2016-11-15 11:51] eitch commented on #169
I've changed my source to the following, with the same error:

        <div class="container">
            <google-chart
                    type="area"
                    options='{"title": "Days in a month"}'
                    cols='[ {"label": "Month", "type": "string"},{"label": "Days", "type": "number"} ]'
                    rows='[ ["Jan", 31] , ["Feb", 28] , ["Mar", 31] , ["Apr", 30] ,

[2016-11-15 11:52] eitch commented on #169
And i also tried by defining the properties using function. No change.

[2016-11-15 11:56] wesalvaro commented on #169
Still, try one of the examples from the demo page and tweak it. I see
nothing wrong with your code and this element does no JSON parsing of the
options (it's a normal object). So my first guess is it might be the
polymer setup.

On Tue, Nov 15, 2016, 8:52 PM Robert von Burg <notifications@github.com>
wrote:

[2016-11-15 12:21] eitch commented on #169
You're right. The issue was due to a problem with my phonegap configuration. Thanks anyhow and sorry for disturbing you.

[2016-11-15 12:21] #169 closed

[2016-11-15 23:37] NamTThai opened #170 "TreeMap's redraw bug"
https://jsfiddle.net/8vhn8fry/
I'm not sure if this is a bug or I'm just using it wrong.
Try click on a category, and then right click on the map to go back to All Categories. Now click the redraw button. Instead of staying in "All Categories" view, the redrawn treemap will be at the sub-category that you just clicked on.

On a sidenote, treemap API has a lot of additional methods: https://develop

[2016-11-17 09:46] wesalvaro commented on #170
Yes, there is currently a bug in the TreeMap selection for which I have a change open (but it has comments to address... sigh). I think you are seeing the same bug... It's a bummer. The work-around is to reset selection on redraw. As for the extra methods, they are not currently exposed. I was thinking about having the `google-chart` element listen for a `chart-action` event that it would then pas

[2016-11-17 11:19] wesalvaro commented on #169
No problem. Glad you were able to get it sorted!

[2016-11-17 16:57] NamTThai commented on #170
Yeah if that works. I think another way would be having a `tree-map` element, and `line-chart` element, etc. They can all share a `google-chart-behavior`

[2016-11-18 02:16] wesalvaro commented on #170
Yeah, I think that's definitely an alternative.
I think the event model is probably fine for this particular use-case, though, because it's methods are not called through document bindings.

[2016-11-19 03:11] wesalvaro commented on #170
So, apologies, I just got around to looking at the steps in your bug.
This is not due to the selection bug that I thought it was. Haha.
However, I will add your issue to my selection fix, too.
I'm not sure when it will land in the public release, though.

[2016-11-21 21:07] mattppp opened #172 "Material design charts options don't match API"
Looking at the material design [demo](https://elements.polymer-project.org/elements/google-chart?view=demo:demo/index.html&active=google-chart) the title doesn't show up even though it's included in the demo code.

I'm having the same issue with my own usage of md-bar where vAxis and hAxis options don't appear on the chart, I can't seem to affect the legend placement, or add a title. One thing tha

[2016-11-22 00:17] mattppp commented on #172
Found a few solutions to my concerns.

1. `title` property needs to be set inside of `chart`. This will fix the demo.

2. `isStacked` was changed to `stacked` but the documentation wasn't updated yet. A discussion about it can be found [here](https://github.com/google/google-visualization-issues/issues/2143).

3. The `google` object is exposed in `google-chart` so you can use `google.charts.Bar.co

[2016-11-22 00:17] #172 closed

[2016-11-25 12:01] pchhibber opened #173 "Add `wordtree` chart type"
My team has been working with polymer for a lot of projects, and we're considering using the chart component.

Could you please add support for [word trees.](https://developers.google.com/chart/interactive/docs/gallery/wordtree#full)

As per the [current documentation](https://elements.polymer-project.org/elements/google-chart), only the following types are supported.

`area, bar, bubble, candlest

[2016-11-28 20:26] wesalvaro commented on #173
[code]

[2016-12-05 10:17] Nachtmerrie opened #174 "Add `sankey` chart type"
Unfortunately I am forced to manually put a [sankey diagram ](https://developers.google.com/chart/interactive/docs/gallery/sankey) into my Polymer project.

Could you add support for the sankey chart?

I would use a different chart if my type of data allowed it to, but unfortunately this is the only chart that is a match (And it has pretty colours too!)

For @wesalvaro :-) :

[code]

[2016-12-19 13:40] Nachtmerrie commented on #174
I've added it manually in the chart loader and everything is working fine.

[code]

[code]

[2016-12-19 17:01] wesalvaro commented on #174
Cool. I'll put it in right now.

[2016-12-19 19:25] #174 closed

[2016-12-22 00:14] #173 closed

[2017-01-04 10:05] oatto opened #177 "HTML Axes Label"
Is there anyway to display label in axes as HTML or image ?

If it is not possible, is there another library which has this feature ?

Thank you in advance.

[2017-01-04 10:08] #177 closed

[2017-01-04 10:08] wesalvaro commented on #177
Hi!

You'll want to ask this question in a different forum.
See here: https://github.com/google/google-visualization-issues/issues

[2017-01-23 01:47] ponnex opened #178 "Google Chart option: hAxes title and direction doesnt work together"
Hi I have problem adding title and direction at the same time in hAxes.

When writing `hAxes": [ {"direction": -1} ]` or `hAxes": [ {"title": "Date"} ]` works well but
`hAxes": [ {"title":"Date"},  {"direction": -1} ]` doesnt.

And I observed that whichever among title and direction comes first in `hAxes": [ {"title":"Date"},  {"direction": -1} ]` is the one that will append on the code e.g. `hAxe

[2017-01-23 02:18] wesalvaro commented on #178
The chart in your example only has one series.
The `vAxes` and `hAxes` options are an array of objects, one for each series.
You should only be using one object, like so:
[code]
If you still feel like this is an issue, please [file it against this other project](https://github.com/google/google-visualization-issues/issues), instead. The `google-chart` element is simply a wrapper around it and most

[2017-01-23 02:26] #178 closed

[2017-01-23 02:41] ponnex commented on #178
Thanks a lot! I already solve this issue by instead of

`'"hAxes": [ {"title":"Date"}, {"direction": -1}, {"title":"Date"}, {"direction": -1} ]'`

use

`'"hAxes": [ {"title": "Date", "direction": -1}, {"title": "Date", "direction": -1} ]'`

Thanks again! :D

[2017-02-02 18:02] DMTSource commented on #168
To get resizing of google-chart object to work from inside a Polymer template, I set the css of my chart div to 100% and used the IronResizeableBehavior to trigger on resize actions. One main issue was the use of "redraw" on the google-chart vs other incorrect examples online. The charts now smoothly resize to fit their responsive containers.

[code]

[2017-02-02 18:14] DMTSource opened #179 "table and cssClassNames"
Is it possible to set, in options, the cssClassNames in order to apply any sort of styling to the table chart?

I am trying to implement the second example on this page to add css styling:
https://developers.google.com/chart/interactive/docs/examples

I am trying something like(with css from example link above):
[code]

[2017-02-13 07:33] hariprasadiit opened #181 "Polymer Array changes doesn't reflect in the chart"
If we bind ploymer array property to the `google-chart` element, Initially it loads whatever data polymer array holds but subsequent changes to that array property doesn't reflect in the chart.

steps to reproduce:

1. bind array property to the google-chart `rows` property.
2. make changes to the array property by using polymer array mutation methods. i.e push,pop, splice.
 3. Observer if the goo

[2017-02-15 04:07] wesalvaro commented on #179
Yes, setting the cssClassNames will put the your custom names instead of the default names on the elements. However, if you are using shadow DOM (i.e. not shady DOM), your style sheet must be injected into the element.

[2017-02-15 04:15] wesalvaro commented on #168
@esd100

Yes, since the charts are drawn as statically sized SVGs by the Google Visualization libraries, it's not super straightforward to get resizing correct for all cases. In the case of using percentages, it's easy for a chart to not size-down or size-right depending on height, width values. If you have a demo that addresses the sizing issue nicely, I would love to see it!

What do you mean ab

[2017-02-15 04:15] wesalvaro commented on #178
Yup! That'll do it! Glad you figured it out.

[2017-02-15 04:22] wesalvaro commented on #181
Yeah... That's the currently working-as-intended behavior but I'm open to suggestions on how you would like to see it changed. One issue with slice listening is that it may cause unnecessary churn.
When altering chart data, many values may be changed at once. The `DataView` for the chart is only updated when the `rows`'s (in your example) pointer is changed.

[code]

Doing this will update the vie

[2017-02-15 04:26] wesalvaro commented on #181
It's worth noting, that [force skipping dirty checking](https://www.polymer-project.org/1.0/docs/devguide/model-data#override-dirty-check) should work, too.

[2017-02-15 04:29] wesalvaro commented on #167
I'm sorry, I'm not sure where to start with helping you address this issue.

It doesn't seem to be related to this element, either.

[2017-02-15 04:29] #167 closed

[2017-02-15 04:32] wesalvaro commented on #165
Hi!

You'll want to ask this question in a different forum.
See here: https://github.com/google/google-visualization-issues/issues

[2017-02-15 04:32] #165 closed

[2017-02-15 04:37] wesalvaro commented on #150
Should be in the 1.1.1 version.

[2017-02-15 04:37] #150 closed

[2017-02-17 14:02] tgensol commented on #162
Same issue here

[2017-02-18 23:42] tanin47 commented on #138
Hi @pbx9959, the root cause is that the tooltip's CSS class, `.google-visualization-tooltip`, is not applied correctly. We'll get it fixed as soon as possible.

In the mean time, you can use [my fork](https://github.com/tanin47/google-chart/blob/master/google-chart.html#L63) that adds the CSS class `.google-visualization-tooltip` in a hacky way.

[2017-02-19 14:48] wesalvaro commented on #162
@tgensol I think the issue still might lie in this element, but I haven't spent much time trying to track it down. I don't know how this would be an issue with the actual Google Visualization API but I was stumped when I tried to figure it out back in October. If you want to help find the issue, that would be great.

[2017-02-19 15:05] wesalvaro commented on #138
My only guess is that this issue is related to the Shadow-DOM styling issue reported and ongoing in #26

[2017-02-20 00:50] wesalvaro commented on #138
Confirmed. Here is a simple demo for the issue: http://jsbin.com/becuhuvese/edit?html,output
However, let's keep the conversation on #26 to address it.

[2017-02-20 07:58] wesalvaro commented on #26
So, I believe we can do the following:
  - Add a [`scopeSubtree`](https://www.polymer-project.org/1.0/docs/devguide/styling#scope-subtree) container (perhaps we can reuse the chart container). This didn't seem necessary when testing.
    on-ready: `this.scopeSubtree(this.$.container, true);`
  - Add a callback to duplicate the CSS after packages are loaded.

Moving Callback:
  1. for-each `styleSh

[2017-02-21 22:45] esd100 commented on #168
@wesalvaro

Well, I'm no expert, but it seems to me that the data binding capabilities using {{TwoWayData}} and [[OneWayData]], are really fundamental components of Polymer.

Yet, the examples all show "hard-coded" data for the `row`, `col`, or `data` properties of the charts.

I think it would be nice to have a real world example. For example, charts are often plotted with dynamic data that is ac

[2017-02-27 11:45] hariprasadiit commented on #181
Thanks for the explanation.

  This makes sense.

  #164 is nice thing to have in google-chart. I was looking for this kind of data handling functionality when was going through the docs. Any update on when it'll be released?

[2017-02-28 02:23] wesalvaro commented on #181
In short, whenever it gets reviewed.

But really, I think it makes sense to leave v1 as it is (all-inclusive-y) and save big changes like #164 for v2. I have started documenting my plans for v2 of the element [here](https://github.com/GoogleWebComponents/google-chart/wiki/Modular-Design-(v2)-DRAFT). If you want to take a look and let me know what you think, that'd be cool. I plan to continue devel

[2017-02-28 05:49] wesalvaro commented on #168
Hmm... I can see what you mean but I'm not sure I totally agree.

As for the "hard-coded" data. You're right. It'd be pretty rare to specify data in this way in a real application. However, this is showing exactly the format (or transformation results) the data should be in for it to work without having to follow a variable reference around. The only difference between it and real-world usage is t

[2017-02-28 14:50] wesalvaro commented on #26
Just got around to testing this and it works well.
I think this is the way to go unless there are any other ideas or until something blows up. xD

[2017-02-28 20:34] marko911 commented on #172
I dont seem to be able to get that google object. Is it no longer exposed ?

[2017-03-01 05:18] wesalvaro commented on #172
Cool, thanks for the follow-up. I'll fix the demo.
The `google` object is no longer exposed. You can access the `google` global variable after the library has been loaded. In general, I didn't want to support having to convert the options in this element and leaving that up to the user to put the options into the new format themselves.

[2017-03-01 13:02] wesalvaro commented on #26
[Here](https://rawgit.com/GoogleWebComponents/google-chart/v2/demo/index.html) is a demo of it in action and a preview of the changes I had in mind.

[2017-03-01 13:03] wesalvaro commented on #138
So, I just posted in the other thread, but [here](https://rawgit.com/GoogleWebComponents/google-chart/v2/demo/index.html) is my initial write up of the changes I had in mind which now include this dynamic style shtuff.

[2017-03-01 13:13] wesalvaro commented on #168
@esd100 [Here](https://rawgit.com/GoogleWebComponents/google-chart/v2/demo/index.html) is the first draft of the new demo for the v2 changes I'm working on.
Do you think it's better?

[2017-03-02 08:02] wesalvaro commented on #181
Hey, I got the initial stuff (with the intended feature parity) working [here](https://rawgit.com/GoogleWebComponents/google-chart/v2/demo/index.html). See if it works like you would think when using the `google-chart-data` element with rows and columns.

You should now be able to do:
[code]
And it will be reflected in the chart.

[2017-03-06 09:20] #179 closed

[2017-03-06 18:06] dineshshetye opened #182 "How can I use “google.visualization.*” objects in <google-chart> web component in Polymer"
Is it possible to use core google chart objects (like DataTable or events) from `package google.visualization.*` in Google Polymer component?

I have a webservice returning JSON data (which is not in the DataTable format) and I want to convert it into google.visualization.DataTable object. The error message I get is "Cannot read property 'DataTable' of undefined"

My Custom Polymer event is below:

[2017-03-08 05:00] wesalvaro commented on #182
You seem to be in a minority with me about wanting to use an actual `DataTable`.
You can get a `DataTable` from the `google-chart-loader` element:
[code]

In the v2 update I'm working on, you'll be able to use a new element `google-chart-data` to create a `DataTable` or access the visualization namespace directly:

Here, the result of `data` is a DataTable.
[code]

Alternatively, in your JavaScrip

[2017-03-08 05:02] wesalvaro commented on #182
You're getting the error you are because the library has not yet finished loading/setting up.

As for events, you can specify events on the chart directly:
[code]
This will relay any "foo" events from the chart as a Polymer event.

[2017-03-08 05:05] wesalvaro commented on #182
Sorry, one last comment, it's worth clarifying that data does not need to be in a `DataTable` proper. It can just be in normal arrays/2D-arrays for rendering.

[Here](https://rawgit.com/GoogleWebComponents/google-chart/v2/demo/index.html) is my v2 demo.

[2017-03-21 11:46] Joan1899 opened #184 "Strange error onmouseover+shiftkey in Timeline"
Hi,

please try to reproduce:

1. Select bar from timeline pressing shift (select one or more times w and w/o pressing shiftkey)
2. Do onmouseover

Strange error appears. We did not implement any onmouseover action or any shiftkey event.

Thx for your support

[2017-03-21 20:05] dineshshetye commented on #182
@wesalvaro Thanks for taking time out and replying to the question. The problem with my code, like you said was that the library was not being loaded before calling the method to create a DataTable. This was happening to only certain REST services which used to return in less than a second. For remaining services (which would take about 4-5 seconds) to return, the DataTable object was initialized

[2017-03-24 08:18] wesalvaro commented on #182
looks good but that first `then()` call is superfluous.

[2017-03-24 21:00] arep opened #185 "Update of attributes cols and rows buggy"
Updating cols and rows with new data containing more or less columns than the existing data gives error, even if I want to update both attributes with new valid data.

However, if setting rows=[] and then cols=[] (in that order!!), and then cols=(actual data) and rows=(actual data), then it works. But only if I do it in this specific order.

See fiddle for example: https://jsfiddle.net/54aro51L/

[2017-03-28 18:47] esd100 commented on #168
@wesalvaro it looks like you are making some big changes, some of which look very interesting.

You mention in the draft that loading will be done through iron-ajax for example. I think providing one complete example of that would be nice and very useful for people that aren't very familiar with web development.

[2017-03-29 13:08] janniclas opened #186 "Polymer 2.0 Support"
Hey guys,

please correct me if I am mistaken, but google-chart v2 is not compatible with Polymer 2.0, is it?
Since I couldn't finde any information about this my question is, when will there be a Polymer 2.0 compatible Version of google-chart? Are you currently working on it?

Thanks.

[2017-03-29 13:10] wesalvaro commented on #186
The plan was to release the v2 of the google-chart element that I am working on in [this branch](https://rawgit.com/GoogleWebComponents/google-chart/v2/demo/index.html) updated for Polymer v2.0 support. I took a stab at it the other day for a few minutes and it seems like a non-trivial amount of effort required... Anyway, that's the plan.

[2017-03-29 13:13] wesalvaro commented on #185
Thanks for the example! I have an idea for why this might be happening...

[2017-03-29 13:16] wesalvaro commented on #184
Hmm... I'm unable to reproduce. Is it limited to a specific browser?
I think this bug would probably be outside the scope of this element and [this group](https://github.com/google/google-visualization-issues/issues) is probably the right place to post the issue.

[2017-03-29 18:59] Joan1899 commented on #184
Sorry, I assume it is because we are adding data from two different Sharepoint lists to the timeline because it is only reproducible in this case.

In this timeline by doing onmouseover we display a unique tooltip for every entity, and it works fine. By pressing shift and selecting different entities the issue is reproducible. That is not a common usecase, we just saw it accidentally.

This may be

[2017-03-30 21:43] yglodt commented on #182
I am using <google-chart> V 1.0.4 and need a timeline-chart. Is that possible at all with V1 ?

[2017-04-12 11:06] bennypowers opened #187 "Chart Data Leaking to Other Instances"
I've got N instances of an element which contains a `<google-chart>` version 1.1.2 in its shadow root, as below:

[code]
## Child properties
[code]
[code]

When the page loads, both charts display the data from the Nth instance of `<google-chart>`. I expected each chart to display its own data.

See also #115

[2017-04-12 11:48] bennypowers commented on #187
I'm loading my component with no data and setting it once everything is ready and rendered.

See JSFiddle

https://jsfiddle.net/ww8hg0dp/26/

[2017-04-12 12:04] bennypowers opened #188 "Set Min and Max for Timeline"
I'd like to be able to specify a min and max time range for timeline charts, instead of the chart determining it from datarows' min and max vals.

see https://github.com/google/google-visualization-issues/issues/2452

[2017-04-12 14:10] wesalvaro commented on #187
Hey! I figured it out.

Check [here](https://www.polymer-project.org/1.0/docs/devguide/properties#configure-values) for details on declaring default values for your array objects. That fixed it for me. Thanks so much for the demo.

If you have any questions, feel free to ask!

[2017-04-12 14:10] #187 closed

[2017-04-13 08:13] bennypowers commented on #187
Yeah that solved it, thanks. Might be worth adding a mention of this to the docs?

[2017-04-13 08:15] bennypowers opened #189 "F"

[2017-04-13 08:16] wesalvaro commented on #187
Using a function to initialize your array and object declared properties is pretty core to Polymer.
It'll affect any element your write or use, not just this one.

[2017-05-03 07:30] HareeshKumarKuruba opened #190 "'loading' custom property support"
Just like in iron-ajax where 'loading' attribute tells whether the request is being processed, need similar custom property for google-chart which sets the value to true when request for chart data is sent.

[2017-05-07 20:48] RodrigoMateus opened #191 "Angular 2 Example"
How can I use this component in an Angular 2 project? Could anyone provide a basic example?

[2017-05-16 18:11] pdesjardins90 opened #192 "Support for window.print() ?"
Is there a way to correctly print a page which includes a google-chart using window.print() ?

Either it doesn't display at all or it displays all distorted. I would like to call the redraw() method on it to fix its rendering (like I would on a normal html document) but it doesn't seem possible to listen to any browser print-related events.

Any ideas?

[2017-05-26 19:14] pdesjardins90 commented on #192
Found a hack in the google-charts [doc](https://developers.google.com/chart/interactive/docs/printing?authuser=0), how I adapted this to Polymer was:
[code]

Still, this is pretty awful. I suggest you guys encapsulate this logic in the <google-chart> component instead

[2017-05-26 19:14] #192 closed

[2017-05-27 18:08] esd100 opened #193 "Chart not respecting options.vAxes.minValue"
I have a dual y-axis chart and eve though I have set the minValue for each vertical Axes to 0, the chart is not respecting the minimum

my properties are as such:
[code]

I'm just using the element like this:
[code]

Interestingly, if the data is truncated, like this:
[code]

Then it works fine.

So, it leads me to believe that the difference in range of the two axes is making it misbehave.

[2017-05-31 17:26] mhn2012 commented on #186
Any news regarding this? im personally trying to use v2 branch, and it just comes up with an error message in the console:
"Uncaught TypeError: Cannot read property 'then' of undefined
    at HTMLElement._computeWrapper (google-chart.js:285)
    at runMethodEffect (property-effects.html:771)
    at Object.runComputedEffect [as fn] (property-effects.html:400)
    at runEffectsForProperty (property-

[2017-06-09 17:01] esd100 commented on #186
Any plans to update this?

[2017-06-22 08:34] wesalvaro commented on #186
My guess as to the issue @mhn2012 posted is a change in the way factories get created in Polymer v2. Currently, the code only supports v1 but I definitely want to get hybrid support for as part of merging in the v2 branch to master.

[2017-06-22 08:35] #182 closed

[2017-07-04 22:14] ORESoftware opened #194 "Very bad limitation in Google Visualization API - Gantt charts"
There are a couple problems I have seen in the google chart API

https://developers.google.com/chart/interactive/docs/gallery/ganttchart

Not sure if this is the right place to submit this issue.

Here are the problems I see:

1. Google JS api cannot take a string or number and convert it to a Date. This is a problem when I pass the API JSON.stringified data. Dates must be a primitive, yet the Goo

[2017-07-04 22:29] ORESoftware commented on #194
I got it working like so:

[code]

but frankly that was a bit tricky and I think you will make it harder for programming newbies, that it has to be.

[2017-07-04 23:52] ORESoftware commented on #194
Yeah so I don't think the Gantt chart handles anything more granular than days. I passed the Chart API two different tasks with different start Date / end Dates that differed by seconds, and the API can't handle that. Considering that the Duration value can take milliseconds, it seems to me incredibly limiting to not also accept milliseconds for start date and end date.

[2017-07-05 03:04] wesalvaro commented on #194
The Gantt chart can do more resolution than days. [This example](https://developers.google.com/chart/interactive/docs/gallery/ganttchart#computing-startendduration) shows using minutes but I haven't messed around too much with it myself.

As for the Date issue, how to represent them as strings is addressed [here](https://developers.google.com/chart/interactive/docs/datesandtimes#dates-and-times-us

[2017-07-05 03:12] wesalvaro commented on #194
@ORESoftware I just saw your issue and the post over on the library's issue list. I think that your issue comes when specifying the start Date. As in the example that I posted, the start and end Dates are null. You only need to populate duration, which I tweaked the example and it will show resolutions as high as 0.01 seconds.

[2017-07-05 03:42] ORESoftware commented on #194
Thanks for responding to this issue. If I just use a duration, then I won't get the right start time. This is what I am looking for:

<img width="1369" alt="screenshot 2017-07-04 20 39 28" src="https://user-images.githubusercontent.com/11139560/27848288-e7eda150-60f8-11e7-9993-f463da754afe.png">

However to achieve the above, I had do some real gymnastics, like I said, I had to translate milliseco

[2017-07-07 01:37] siddarthramesh commented on #186
@wesalvaro Any timeline as to when it will be available in Polymer v2?

[2017-07-14 08:58] kbischop opened #195 "How to add a % sign to Google Gauges with the polymer component"
I want to add a % sign to the google gauges. I found this example:

 // Create and populate the data table.

  var data = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['Memory', 80],
    ['CPU', 55],
    ['Network', 68]
  ]);

var formatter = new google.visualization.NumberFormat(
    {suffix: '%',pattern:'#'}
);

formatter.format(data,1);

  // Create and draw the visualiza

[2017-07-20 19:53] ArthurJahn commented on #157
Any updates here? I'm having problems with this `redraw` issue.

[2017-07-31 23:31] malthusyau opened #197 "No way of specifying mapsApiKey for using geoChart"
For the geoChart, there is no way to include the mapsApiKey on google.charts.load. Like the example here: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings

[2017-08-01 05:32] wesalvaro commented on #197
I believe this bug may have the solution for you:
https://github.com/google/google-visualization-issues/issues/2292

Specifically, it seems you should just be able to set:
`google.visualization.mapsApiKey = YOUR_MAPS_KEY;` before drawing your chart.

[2017-08-01 06:39] djbecky commented on #197
I see there is a attribute named api-key in google-map, user could pass Google Maps Key to it.
Is it valuable to add this feature into google-chart?

[2017-08-01 06:42] wesalvaro commented on #197
Yes, it probably is. I think we would just want to add an "options" type attribute to the loader element to allow users to specify their own options in a straight-forward `Object` fashion.
Since there is a work-around, I'd rather keep it the way it is at-the-moment and think about it a little more, adding it to the v2 update.

[2017-08-01 17:44] djbecky commented on #197
@wesalvaro For now, I see google-chart only support three events (google-chart-select, google-chart-ready and selection-changed), I could not find the good time to set my API key before drawing.

[2017-08-02 05:50] wesalvaro commented on #197
Correct, you don't want to listen to the chart, but to the loader.

The loader will fire a `loaded` event (which should really be `google-charts-loaded` but alas...) which you can observe and then update your mapsApiKey as in [this fiddle](https://jsfiddle.net/wesalvaro/ge8e5n2k/1/) I created.

You can comment out the API key assignment line and see an error appear in the console about the lack of

[2017-08-15 07:38] wesalvaro commented on #195
You'll want to create a `DataTable` yourself to do that.
You can get one from the `google-chart-loader` element.

[2017-09-13 14:22] bennypowers opened #199 "Unable to select item"
I have a timeline chart:

[code]

And a method:

[code]

And the two are not getting along. I can't seem to  set the selection in the google chart from outside.

Reproducable JSBin: https://jsbin.com/qukucon/edit?html,output

[2017-09-13 18:26] tanin47 commented on #138
@wesalvaro, we are upgrading to PolymerJS 2.0, and the problem still exists with the default config of PolymerJS 2.0 and the latest origin/master. (FYI, other stuffs seem to work fine, though we see a blink of `TypeError: cannot read 'draw' of null` when the graph is first rendered).

[2017-09-21 11:42] vtellier commented on #181
I have been in troubles with the property binding as well. I actually did not succeed to get it to work, unless i bind to the `rows` property using the attribute binding `rows$="[[myArray]]"`.
Of course doing so is kind of nasty as the array will be serialized, therefor I got problems with dates etc.

The only way I got it to work was to change **the `google-chart` element itself**, and bind the o

[2017-09-29 17:32] wesalvaro commented on #181
@vtellier The problem with watching slice changes is gonna be that not _every_ slice change should trigger a redraw. I don't understand why you would ever need to bind to the attribute unless you're getting the property to trigger because it's re-deserializing your JSON every time at that point.

You might be able to get by with a slice on the original array. But I'm not sure what your setup looks

[2017-10-11 02:04] jukbot opened #201 "Support for gantt chart ?"
Hi, Is there any support for using Gantt chart in google-chart web components?

[2017-10-14 20:12] #186 closed

[2017-10-20 19:10] glennphilp opened #202 "Add passive event listeners to pass Lighthouse audits"
According to Google's Lighthouse audit, the following doesn't pass the passive event listeners.

https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners

![screen shot 2017-10-20 at 2 08 59 pm](https://user-images.githubusercontent.com/2106652/31837961-659b0204-b5a0-11e7-99be-05788326aebd.png)

#minorbug

[2017-10-21 02:33] tanin47 commented on #138
The new version (or unreleasing version) of google-visualization fixes the CSS scoping issue. I'm not sure if google-chart has been updated. @wesalvaro would know best.

[2017-10-24 07:17] wesalvaro commented on #138
I'll be looking into integrating the v2 stuff and new API again, soon.

[2017-10-24 07:19] wesalvaro commented on #202
This element does not actually add any event listeners directly. It makes use of the Polymer and Google Visualization event system. This would probably be an issue with the Google Visualization events. Better to file a bug over there: https://github.com/google/google-visualization-issues/issues

[2017-10-24 07:22] #202 closed

[2017-10-24 07:38] wesalvaro commented on #199
Thanks so much for the jsbin!
I've tracked down the docs and responsible code.
`setSelection` is actually, currently unavailable for the Timeline chart.
While the method exists and does update the chart state, it does not seem possible to draw the chart with the selection set by the user. I've raised a bug for this internally.
But a better place to file this would be with the Google Visualization

[2017-10-24 07:38] #199 closed

[2017-10-24 07:40] wesalvaro commented on #186
The element, with its current API should be working in Polymer 2.0.
Please file any bugs you encounter.

[2017-10-24 07:44] wesalvaro commented on #201
@jukbot Would you please check out the above PR and let me know if you have any issues.

[2017-10-25 03:54] wesalvaro commented on #186
@jukbot  Sorry, the preview-2.0 was ill-named as it is not a reference to Polymer 2.0 but to a new, more comprehensive API including controls, dashboards and extends to all the chart types with better loading to boot. It needs Polymer 2.0 updating and unit tests before merging it in to master. I expect everything will be ready by the end of November.

[2017-10-25 13:45] pdesjardins90 commented on #186
This component is central to our data-viewing app, thanks for all hard work you're doing!

[2017-10-30 03:58] wesalvaro commented on #194
It looks like you might just want a timeline graph for that.

[2017-10-30 04:28] ORESoftware commented on #194
@wesalvaro thanks, do you have a good link for that?

[2017-10-30 04:29] ORESoftware commented on #194
Ok, I think this is what you mean: https://developers.google.com/chart/interactive/docs/gallery/timeline

yeah that's probably a lot better..my processes are always independent, whereas Gantt charts have process that are interdependent...thanks!

[2017-11-11 01:29] wesalvaro commented on #194
Cool. Let me know if you have any questions.

[2017-11-11 01:38] #194 closed

[2017-11-11 01:42] wesalvaro commented on #186
I have just pushed a new update to [the v2 branch](https://rawgit.com/GoogleWebComponents/google-chart/v2/demo/index.html) that seems to be working with Polymer v2.0. If you could test it and let me know if it's working for you, that would be great.

[2017-11-22 11:39] Hareesh-kumar-kuruba opened #205 "org chart is broken"
I had google-chart of type orgchart in my polymer project.It was working fine in my 1.x polymer project. While updating my polymer project to 2.0 it was broken. I tried the example given in demo in new project, there also it is broken. It looks like the below pic where connectors are missing
![screencapture-127-0-0-1-8000-chart-test-html-1511350086208](https://user-images.githubusercontent.com/264

[2017-12-10 02:20] ORESoftware commented on #194
thanks for your help, I finally got this working with Timeline (I was using Gantt before)

<img width="1420" alt="screenshot 2017-12-09 18 19 47" src="https://user-images.githubusercontent.com/11139560/33801341-977fe4ee-dd0d-11e7-813d-404ab6a99f4a.png">

I had this issue
https://stackoverflow.com/questions/47734952/label-color-or-bar-color-by-row-for-google-timeline-chart

but I figured out a solu

[2017-12-10 02:21] ORESoftware commented on #194
If you know how to add a legend to a Google Timeline chart, I could use one of those

[2018-01-02 11:15] rslawik opened #206 "HTML tooltips are not styled correctly"
HTML tooltips in `<google-chart>` using Polymer 2 and ShadowDOM are not positioned correctly and their styles are missing.

[code]

![image](https://user-images.githubusercontent.com/7468393/34482149-2917bece-efae-11e7-8994-f3661c53826d.png)

[2018-01-04 20:48] ThePlenkov opened #207 "Google table chart default styles are not applied."
Hi,

I just decided to try polymer with google table chart.

What a disappointment to find it without any style.

![image](https://user-images.githubusercontent.com/6381507/34583606-ace8f2cc-f198-11e7-9473-6ffb27f85e89.png)

What I did - I just cloned this repository and served with polymer.

What is interesting, here it works fine:
https://elements.polymer-project.org/bower_components/google-char

[2018-01-12 03:33] wesalvaro commented on #206
This looks like a duplicate of #138 which would be fixed by a fix for #26.
I have a fix in #204 but it essentially changes everything, so I need a good reviewer (I also need to add some more tests). I believe that #204 is a much more Polymer-y version that has a bunch of needed changes/refactors. If you want to take a look, that'd be great.

[2018-01-12 03:33] #206 closed

[2018-01-12 03:34] wesalvaro commented on #207
This looks like a duplicate of #138 which would be fixed by a fix for #26.
I have a fix in #204 but it essentially changes everything, so I need a good reviewer (I also need to add some more tests). I believe that #204 is a much more Polymer-y version that has a bunch of needed changes/refactors. If you want to take a look, that'd be great.

[2018-01-12 03:34] wesalvaro commented on #205
This looks like a duplicate of #138 which would be fixed by a fix for #26.
I have a fix in #204 but it essentially changes everything, so I need a good reviewer (I also need to add some more tests). I believe that #204 is a much more Polymer-y version that has a bunch of needed changes/refactors. If you want to take a look, that'd be great.

[2018-01-12 03:35] #201 closed

[2018-01-12 03:35] #207 closed

[2018-01-12 03:37] #205 closed

[2018-01-12 03:38] #195 closed

[2018-01-12 03:38] wesalvaro commented on #190
This will go away with #204 as iron-ajax will no longer be baked in.

[2018-01-12 03:39] wesalvaro commented on #191
This should work the same as using any Polymer element in an Angular 2 project.
You shouldn't have to do anything specific for this particular element.

[2018-01-12 03:39] #191 closed

[2018-01-12 03:41] wesalvaro commented on #193
Is that option supported for the dual-Y chart? Either way, the handling of specific arguments is not done by this Polymer element. A better place to ask this is the library's issue tracker: https://github.com/google/google-visualization-issues/issues

[2018-01-12 03:41] #193 closed

[2018-01-12 03:42] #181 closed

[2018-01-12 03:45] wesalvaro commented on #189
I think this issue sounds more like a problem with the underlying library?
https://github.com/google/google-visualization-issues/issues
If an option does not work when specified statically in the HTML, then it definitely would be.
e.g. The following should definitely work if there is no bug in the google-visualization library:
[code]
If that works, then your issue might be that no slices are watch

[2018-01-12 03:46] wesalvaro commented on #188
If the underlying library that you linked to doesn't support, there's nothing really we can do here, sorry!

[2018-01-12 03:46] #188 closed

[2018-01-12 03:48] wesalvaro commented on #109
There are no CSS mixins that can be used with this element at the current time, so there is nothing to document.

[2018-01-12 03:48] #109 closed

[2018-01-15 05:55] wesalvaro commented on #194
For legends, you have two options:
 - Roll your own
 - Label the rows
You also don't need to use one row for each as you have it. It's a bit ... tall ... haha.
I would say something like the [advanced example](https://developers.google.com/chart/interactive/docs/gallery/timeline#an-advanced-example) could fit your needs.

[2018-01-16 08:18] mo-ry opened #208 "New Pie chart animation to move from 0% to a specified %"
I want to Pie chart to animate from 0% to a specified % like below image.
![piechart_animation](https://user-images.githubusercontent.com/12047010/34978304-2659af10-fae1-11e7-9b82-3f4465882dd4.gif)

[2018-01-16 08:29] wesalvaro commented on #208
Hi, if the animation currently isn't working and you're following the animation demo setup, then you'll need to file a file a feature request for the Google Visualization team:
https://github.com/google/google-visualization-issues/issues

[2018-01-16 08:29] #208 closed

[2018-01-16 09:04] mo-ry commented on #208
@wesalvaro
Hi, there is no this animation feature for pie chart in google chart.
This is sample from stack overflow using jQuery to animate like this.
I want this animation as a feature in google chart.

[2018-01-16 09:05] wesalvaro commented on #208
I understand. You'll need to file a feature request at the link I provided as this project does not deal with animating the charts, only providing options to the underlying visualization library.

[2018-03-01 11:44] rafbel opened #209 "Calendar chart legend fixed range"
Is it possible to fix the range for the Calendar chart?
My legend shows up 0 - 46 because of the values I inserted (like the image below).
![image](https://user-images.githubusercontent.com/14187686/36843132-b1b1486c-1d2c-11e8-8637-8a2910e2f6f3.png)

Is it possible to fix the legend to show a range of 0 - 100 no matter the values I insert?

Thanks.

[2018-03-01 20:18] rafbel commented on #209
Ok, this issue can be closed. Figure out how to do it:

![image](https://user-images.githubusercontent.com/14187686/36867659-8c6ad9c2-1d74-11e8-8422-9939a4a4c8d6.png)

[2018-03-06 03:51] ORESoftware opened #210 "Bug with line chart API"
I am seeing what appears to be a bug with the line chart API:
https://developers.google.com/chart/interactive/docs/gallery/linechart

here is the problem:

https://stackoverflow.com/questions/49122990/getting-cannot-read-property-vb-of-undefined-error-with-google-chart-api

the error appears to be internal to the Chart API lib:

<img width="331" alt="screenshot 2018-03-05 19 48 38" src="https://us

[2018-03-06 04:14] ORESoftware commented on #210
Yeah this is a bug, this happens when Google Charts receives an empty array:

`data.addRows([]);`

that's something that Google Charts should handle, instead of breaking. :(

[2018-03-07 14:33] lfelipequiros opened #211 "All series trendline"
**Context:**

Hey, I have a [combo chart](https://developers.google.com/chart/interactive/docs/gallery/combochart),  and I need a trendline that uses all series data to create it.

Is there a way to accomplish that?

**Work on this:**

I have tried to make like an "invisible series" with all the data to make a trendline for that one and get it, but the thing is: At the moment I create more than 1

[2018-03-09 04:02] wesalvaro commented on #211
Hmmm... It's not currently possible to do a trendline for more than one series.
And you're right, you can't do two identical X-axis IDs.

Since you've already computed your own trend line, I think that's the way to go on a ComboChart. As for the tooltip issue, you can define you're own with the [Tooltip Role](https://developers.google.com/chart/interactive/docs/roles#tooltiprole) and perhaps the [

[2018-03-09 04:02] #211 closed

[2018-03-09 04:04] wesalvaro commented on #210
You're right that there isn't a whole lot of error checking in cases like that.
It'd be a good idea to not only handle that but also add some tests for these kinds of cases.

[2018-03-09 04:05] wesalvaro commented on #209
Cool! glad you figured it out!

[2018-03-09 04:05] #209 closed

[2018-03-09 05:05] ORESoftware commented on #210
+1

[2018-04-11 16:33] sleekmountaincat opened #212 "using cssClassNames options for a table does not work"
hello,

class names get applied to the element in question, but the css for that class is not applied. with the following, i would expect to see a border around the header TR.

`
<dom-module id="spaces-iod-lobbyiod3">
    <template>
        <style include="spaces-iod-styles">
            :host {
                display: block;
                padding: 10px;
            }
            google-chart {

[2018-05-17 21:30] vixson opened #213 "loader.js doesn't load after vulcanize project"
After optimizing a project using vulcanize https://www.gstatic.com/charts/loader.js would not be able to load up again. it returns a non UTF-8  encode string, and consoles this:

[2018-06-01 09:38] DrNiels opened #214 "Polymer 3?"
Is it planned to convert this component to Polymer 3? This would be highly appreciated, since I really enjoy using it.

[2018-06-21 17:51] dpfederighi commented on #199
This is pretty important for us. Any updates?

[2018-06-25 04:56] wesalvaro commented on #199
Hi, this isn't something that can be fixed in the Polymer element. You'll have to follow up with the google-visualization-issue linked above

[2018-06-29 13:20] Mumalo opened #215 "Issue with Scatter chart API"
I am trying to display a scatter chart with date on X-axis.
The issue is when I pass in my dataList with a specific date range, the chart api adds values to the x-axis

For instance: display results from June 1 to June 30
Expected result:L Chart displays dates between Jun 1 and 30
Actual result: Chart shows dates between Jun 1 and 30 and adds July 3 and July 10
I dont know where these additional v

[2018-07-03 14:36] caseylau commented on #214
I really need the polymer3 version too, Maybe we can use [polymer-modulizer](https://github.com/Polymer/polymer-modulizer) to convert it to Polymer3

[2018-07-06 06:44] sanj79 commented on #194
Hi @wesalvaro ,

Is it possible for Gantt chart labels to be placed inside the bars , instead of left aligned ?

[2018-07-07 03:04] wesalvaro commented on #194
@sanj79 Please see [here](https://developers.google.com/chart/interactive/docs/gallery/ganttchart) for options on the Gantt chart.

[2018-07-10 22:17] MichaelScript commented on #214
@DrNiels
@caseylau
Here is a version we made that works with Polymer 3!
https://github.com/MichaelScript/google-chart

[2018-07-24 15:47] cirabad117 opened #217 "timeline chart rows label error"
Since a time ago, I've used this components in my polymer 2.0 projects, but now, when I try to create a new  timeline chart the labels don't appear correctly

The chart shows the labels like this
![sin titulo](https://user-images.githubusercontent.com/33065606/43150074-a42840e6-8f2e-11e8-95bb-0e47ac818928.png)

this is my code

` <google-chart class="google-chart-class" style="cursor: pointer; wid

[2018-07-27 14:48] z5h opened #218 "The README isn't helpful"
I'd like to use https://github.com/GoogleWebComponents/google-chart

From the README I followed

From there I clicked "Getting Started" in the header
I read "How do I use a web component?" It says

I already looked at it's README and that didn't help.
bower.io says "we recommend using Yarn and Webpack or Parcel"

So do choose one of those? It's not clear.

[2018-08-13 17:19] kevinadda opened #219 "Setting headerHeight to 0 for Treemap Chart provokes TypeError when hovering the chart"
A simple way to hide the treemap header is to set its height to 0.

In the documentation, it is clear 0 is an acceptable value (it is also the given default value, which is probably a mistake):
![image](https://user-images.githubusercontent.com/3613657/44046833-fc67c43a-9f2c-11e8-9442-4469eef9d06a.png)

When setting it to 0, the chart works normally, however each time a cell is hovered, a TypeErro

[2018-09-17 21:48] naxo8628 commented on #214
https://www.npmjs.com/package/google-chart-polymer-3

[2018-10-01 11:07] punkratz312 commented on #214
@MichaelScript sorry the modules does not work for me. Unfortunately its not possible to submit a issue in the corresponding repo, so I hope this request reaches you.

As you can see, I added the cart but nothing is displayed nor an error is shown in the console.
![image](https://user-images.githubusercontent.com/8830888/46285217-fe6c6a00-c57a-11e8-926d-1b9cd5c6b247.png)

The components are fetche

[2018-10-01 11:45] punkratz312 commented on #214
+1 polymer 3.0 support would be great

[2018-10-01 13:38] MichaelScript commented on #214
@punkratz312 Hey, I can look into this for you when I find some time. Things to make sure are that you have a height and weight for your chart and you're calling the initGCharts method

[2018-11-01 13:50] benoitscherrer opened #220 "Color bug in TimeLine"
I was trying to apply specified colors in a **Timeline** but kept having wrong colors for my elements. This was driving me crazy.
Finally realized why/when it happens: If two bars share the same **bar label**, then only the color of the first bar is used while the color in `options.color` is not consumed, leading to a color shift for all other bars.

Is this a feature or a bug :/ ?

Here the simpl

[2018-11-07 16:02] emersonbottero commented on #214
I made my own but i'm really bad with Github. I'm doing another bases on chartist.

[2018-11-28 23:24] #26 closed, assigned to wesalvaro

[2019-01-09 15:39] lukebjerring commented on #214
Since it hasn't been mentioned yet, v3.0.0 _is_ available:
https://www.webcomponents.org/element/@google-web-components/google-chart

[2019-01-10 16:02] rslawik commented on #214
Yes, the component has been upgraded to Polymer 3. It can installed from npm. Here's a live demo: https://jsbin.com/taximobici/edit?html,output.

[2019-01-10 16:02] #214 closed

[2019-01-19 02:04] ceevee830 opened #228 "Column Header names/titles are empty/blank (datatable/table visualization)"
Using google-chart v1.x
(https://github.com/GoogleWebComponents/google-chart/archive/1.x.zip)

When creating a `google.visualization.DataTable()` inside a `google.visualization.Table()`, I see a fully functioning table.  BUT, I do not see the column header names/titles.

IMAGE
(see my hand-drawn red squigglies where the column header names/titles should be).
![image](https://user-images.githubuser

[2019-01-21 00:16] rslawik commented on #228
Hi Chris,

It looks like you are using the Google Charts library directly rather than the `<google-chart>` web component, so I am not sure it is the correct place to report the problem (perhaps [google-visualization-issues](https://github.com/google/google-visualization-issues) is).

Are the column header names missing if you try the [example from Google Charts docs](https://developers.google.com/

[2019-02-01 17:52] rslawik opened #233 "Charts API loader added twice"
`google-charts-loader.js` adds the `loader.js` script for Charts API eagerly if it does not find `google.charts.load` symbol. However, when the `<google-chart>` module and other JS code not using `<google-chart>` but Google Chart directly are added to the document around the same time, there is a race condition which one adds the loader first. This may result in the following error:
_Google Charts

[2019-02-01 22:05] ceevee830 commented on #228
Hi @rslawik thanks for reply and sry for late response.

Yes, I inspected the docs and HTML/CSS of the column header in the browser and the text is just not there.  I can add the text into the HTML directly using firefox inspector and can then see the text in the column header.  I also tried the setColumnLabel() API to no avail.

I'll try the google-visulation next.  Thanks again.

[2019-02-15 15:02] #233 closed

[2019-02-26 01:41] wesalvaro commented on #220
My guess is it's a feature, but you'll have to ask the library authors to be sure. This project is only to maintain the Polymer wrapper for the element. [Try posting an issue over here](https://github.com/google/google-visualization-issues/issues) and see what they say!

[2019-02-26 01:41] #220 closed

[2019-03-16 22:10] Phenome opened #239 "Tooltip is flickering on mouseover"
There's that same issue when using the google charts js library directly, but with a CSS hack you can "fix" it: https://github.com/google/google-visualization-issues/issues/2162#issuecomment-233767625

Sadly, since it's webcomponents and shadow DOM, that CSS selector probably does not apply, so the flickering is still there. Any ideas?

[2019-03-21 15:20] Abhijeet-Das opened #240 "Mousewheel scroll behaviour on zoom in bubble chart"
Hello ,
I made a Google bubble chart and added an explorer object ( 'explorer' : { } ) to zoom along x and y axis. But I noticed the zoom behavior is opposite to what is observed in Google maps.
When the mousewheel is scrolled away from the user, the chart gets zoom out. But the same behavior is reversed in google maps ( scroll away, then by zoom in ).
Similarly,
 When the mousewheel is scrolled t

[2019-03-25 08:22] rslawik commented on #240
Please create this issue under [google/google-visualization-issues/issues](https://github.com/google/google-visualization-issues/issues). This component uses Google Charts as is and it looks like changing the zoom-in scrolling direction is not supported.

[2019-03-25 10:11] Abhijeet-Das commented on #240
Thanks. I have created this issue under google/google-visualization-issues/issues.

[2019-05-27 13:25] odahcam opened #243 "importing this element breaks server-side-rendered app"
This element (or at least it's dist code) does a lot of `window` variable usage, breaking an SSR app, since there's no `window` on server-side. Error might be like that (this one's from an Angular app):

[code]

[2019-05-27 15:25] rslawik commented on #243
The problematic line seems to come from [the ShadyCSS polyfill](https://github.com/webcomponents/shadycss/blob/master/src/style-settings.js#L13) which is used by the Polymer library that this component depends on.

The content of the dist code is specific to your tooling and build setup. This element does not have any custom build rules. In general the code here expects to run in the browser (e.g.

[2019-05-27 15:44] rslawik opened #244 "Proposal: add `load` function to `google-chart-loader`"
Add the following function to the `google-chart-loader` module:
[code]

The `options` can specify:

- `language` - what language should be used by Google Charts library, **default**: `lang` attribute of the document or English if no attribute
- `packages` - which packages to load, **default**: `['corechart']`
- `version` - what version of Google Charts library to load, **default**: `'current'`, [o

[2019-05-29 00:14] odahcam commented on #243
I've tried to only import the component in the client-side, but it is not exactly possible with ES6 w/o dynamic modules enabled and I don't know what happens to my Angular app/build/SSR when it is. In fact, there's no place for me to registry or unregister the elements, the `import '@google-web-components/google-chart'` itselft triggers the problem.

About the polyfills, I import'em myself in `pol

[2019-06-25 09:58] #244 closed

[2019-07-17 12:59] Nikksmanon opened #248 "Link Position from start of the bar"
Please refer to the screenshot: -
![image](https://user-images.githubusercontent.com/33192743/61376905-c3e07d80-a8bf-11e9-8da3-83ff4637e976.png)

Something like above is coming but i wanted something like below: -
![image](https://user-images.githubusercontent.com/33192743/61377293-8b8d6f00-a8c0-11e9-96f9-0abef2382f28.png)

Is there any way we can start arrows from the left corner instead of middl

[2019-07-26 16:47] tawfikm commented on #194
Hello I have a problem with google gantt chart, I can't see the chart drawing
this is my code:
<script type="text/javascript">

 function sleep(ms) {
		  return new Promise(resolve => setTimeout(resolve, ms));
		}

	  google.charts.load('current', {'packages':['gantt']});
      google.charts.setOnLoadCallback(drawChart);

	  function runXHR(url) {
	    const xhr = new XMLHttpRequest();
	    xhr.ad

[2019-07-26 17:41] tawfikm opened #249 "Can't debug the red error in the Gantt Chart"
Hello I have a problem with google gantt chart, I can't see the chart drawing
this is my JS code using a Rest API:
`<script type="text/javascript">

	  google.charts.load('current', {'packages':['gantt']});
      google.charts.setOnLoadCallback(drawChart);

	  function runXHR(url) {
	    const xhr = new XMLHttpRequest();
	    xhr.addEventListener('loadend', handleEvent);
	    xhr.open("GET", url);

[2019-08-16 22:09] rslawik opened #252 "Slow initial google-chart-ready event for tables"
The initial event for google-chart-ready is delayed. Why?

Noticed while importing #250 and it was also seen in #204

[2019-09-18 17:07] rslawik opened #256 "Timeline chart selection infinite loop"
After change to ChartWrapper, setting `selection` on timeline chart causes an infinite loop.

It turns out that the timeline chart does not follow the protocol for the select event: https://developers.google.com/chart/interactive/docs/events#the-select-event. It emits `select` when `setSelection` is called.

This affects internal users: b/141123421

[2019-09-18 18:40] rslawik commented on #256
Live example of broken chart: https://jsbin.com/rodusejake/1/edit?html,output
Error: Maximum call stack size exceeded

[2019-09-18 19:54] rslawik opened #259 "Redraw does not update chart with updated DataView"
`<google-chart view="[[view]]">` does not update (after calling `redraw()`) when the data of the view (or its underlying DataTable change).
This used to work because a DataView was use to draw the chart. With migration to ChartWrapper (which requires a DataTable) the code takes a snapshot of the view.

b/141225116

[2019-09-19 07:46] #259 closed

[2019-09-19 07:48] #256 closed

[2019-09-19 09:02] rslawik commented on #256
Live example of fixed chart: https://jsbin.com/bitadixumo/1/edit?html,output

[2019-09-20 16:46] rslawik commented on #252
Workaround added in #254

[2019-09-20 16:46] #252 closed

[2019-09-20 17:01] rslawik commented on #218
`<google-chart>` is now available on [npm](https://www.npmjs.com/package/@google-web-components/google-chart) and the README has been updated (it includes even a live demo).

Would you like to give it another try? Let us know if the README is not clear.

[2019-09-20 17:01] #218 closed

[2019-09-20 18:05] rslawik commented on #162
It seems to work after migration to `ChartWrapper`.
Example: https://jsbin.com/zowujipigi/edit?html,output

[2019-09-20 18:05] #162 closed

[2019-09-20 18:17] rslawik commented on #159
Google Charts library can be loaded with custom settings - see the `load` function introduce in #245. Example usage in `custom-load-test`.

It is not a property because the library is loaded only once globally.

[2019-09-20 18:17] #159 closed

[2019-09-20 18:22] rslawik commented on #197
`mapsApiKey` can be passed to the `load` function introduced in #245 together with other settings. `custom-load-test` has an example.
`load` still needs to be called before any chart is rendered.

[2019-09-20 18:22] #197 closed

[2019-09-20 18:43] rslawik commented on #213
Vulcanization is not needed with the ES modules version.
Please reopen the issue if you still experience the problem with the component published on [npm](https://www.npmjs.com/package/@google-web-components/google-chart).

[2019-09-20 18:43] #213 closed

[2019-11-18 19:08] vixson commented on #213
Thanks @rslawik

[2020-01-03 16:36] rslawik commented on #240
Issue discussed in google/google-visualization-issues#2727.

[2020-01-03 16:36] #240 closed

[2020-01-19 15:21] rslawik opened #268 "Update GitHub pages to the latest version of this component"
npm links to the GitHub page of this component: https://googlewebcomponents.github.io/google-chart. It loads the Polymer 1.0 version of this component and it still uses HTML imports.

We should update it to load the latest version of the component that uses ES modules.

[2020-02-01 22:56] rslawik opened #272 "Deprecate and remove `<google-chart-loader>`"
`<google-chart>` does not depend on it anymore. The loader element can be removed now.

This will happen in two steps:

1. Add a deprecation warning when using `google-chart-loader.js` that this will be removed in the next release.
2. Remove the element.

[2020-02-01 22:59] rslawik opened #273 "Migrate to TypeScript"
Migrate only `<google-chart>` and `loader.js`. `<google-chart-loader>` will not be migrated, it will be removed instead (see #272).

[2020-02-12 16:56] php4fan commented on #115
This is not fixed.

Multiple calls to `google.charts.load()` result in the bogus error message:
[code]
even though I'm calling load multiple times with the **same version**.

The behavior I expect is:
- if I call load again with the same version but a different set of packages, then the packages that have not been already included by the first call should be loaded by the new call.
- If I call it

[2020-02-12 17:18] php4fan commented on #115
Turns out I was accidentally loading **different languages**.

The error message needs to be more explicit.

[2020-02-14 09:01] rslawik commented on #115
This error comes from the Google Charts library. Please file the issue in [google/google-visualization-issues](https://github.com/google/google-visualization-issues) repo.

I tried to reproduce it with the following:
[code]
or few variants, but I couldn't get any error. Could you share your steps?

[2020-02-20 13:27] neowenshun opened #275 "Google Gannt charts"
Hello , i have been using google gannt charts and im very pleased with it , however there seems to be an issue when using controlwrappers. It shows me this : `All series on a given axis must be of the same data type ` , wondering if google gannt supports controls

[2020-03-01 15:31] rslawik commented on #268
The updated page loads the latest version of this component and uses ES modules.

[2020-03-01 15:31] #268 closed

[2020-03-01 16:29] rslawik commented on #275
We have not implemented any support for `ControlWrapper`s in this web component, so I believe you use them directly. In that case, please report this issue in https://github.com/google/google-visualization-issues/issues.

[2020-04-17 12:02] #272 closed

[2020-04-20 17:43] Kolawole39 opened #285 "Can't import the library in Vuejs"
Hi. I am trying to use the library with Vuejs but I don't know how import it well.
Here's the line of code I used but it didn't worked at all.
`import google from "@google-web-components/google-chart";
`

[2020-04-25 12:16] rslawik commented on #285
Hi, what error are you seeing?

There is no export called `google`, so the import should be:

[code]

The path also needs to be rewritten to a real node_modules path for the browser to accept it. This typically is done automatically by tools like TypeScript, bundlers or es-dev-server. If you don't use any of those tools, the path will look like this (depending on the location of your file):

[code

[2020-04-26 12:51] rslawik opened #289 "Stricter typings"
Should we introduce stricter types for some of the properties of `GoogleChart`?

- `type: string` could be replaced with the union of all keys (string literals) from `CHART_TYPES`. That would prevent typos but it would require a way to extend that union to support arbitrary visualization types (similarly to `HTMLElementTagNameMap`). Suggested by @rictic.

- `options: {}|undefined` could be replace

[2020-04-29 20:51] Kolawole39 commented on #285
Okay thanks 🙏🏿

[2020-04-30 07:44] rslawik commented on #285
Cool, I assume it worked. Please reopen if it didn't.

[2020-04-30 07:44] #285 closed

[2020-05-28 14:15] vsrivastava640 opened #291 "unable to use customize tooltip for timeline"
I tried using customized tooltip for timeline chart, but unable to see any changes.

[2020-05-28 14:52] #291 closed

[2020-05-28 14:52] vsrivastava640 commented on #291
resolved

[2020-06-10 07:33] davidenke commented on #273
@rslawik will there be typings for the components in some form?
So it would be easier to use it e.g. Stencil or to adopt the `IntrinsicElements` stuff for React.

[2020-06-11 09:46] rslawik commented on #273
Yes, once the TypeScript version is published to npm.

The release will have some breaking changes (e.g. removal of `<google-chart-loader>`). I was thinking about bundling more breaking changes (like making data not accept urls or even migrating to LitElement which would require manually recreating some Polymer-specific things) in the release to minimise the number of required upgrades. This could

[2020-06-20 23:12] rslawik opened #293 "Migrate to LitElement"
[LitElement](https://lit-element.polymer-project.org/) is a base class for creating lightweight web components. It is the next generation after Polymer 3.

This component does not use some of the Polymer features (like data bindings), so switching to LitElement will reduce the footprint of this component. The API can stay backwards compatible.

LitElement introduces asynchronous rendering which fi

[2020-07-17 17:39] moderndeveloperllc commented on #293
@rslawik Looks like this was done in `4.0.0`?

[2020-07-19 20:27] rslawik commented on #293
Only the first step (switching to LitElement) base class is done in 4.0.0.

The second one (unifying the lifecycles) is not complete yet. There are some opportunities for optimisations in LitElement. For example:

- Changing `data` triggers 2 renders (one for the input, one for the internal property). Can this be reduced to 1?
- Can the `updateComplete` promise be synchronised with the `'google-ch

[2021-01-31 19:49] rslawik commented on #273
Typings are included in the npm package now. We even have a TypeScript badge on https://www.npmjs.com/package/@google-web-components/google-chart.

[2021-01-31 19:49] #273 closed

[2021-02-25 19:38] rslawik commented on #293
Closing. This can be revisited when migrating to next version of LitElement.

[2021-02-25 19:38] #293 closed

[2021-02-25 19:48] rslawik commented on #248
This part of the arrow is not customizable. See available options: https://developers.google.com/chart/interactive/docs/gallery/ganttchart#configuration-options

This should be a feature request for the Google Charts library: https://github.com/google/google-visualization-issues/issues

[2021-02-25 19:48] #248 closed

[2021-02-25 19:48] #275 closed

[2021-02-25 19:50] rslawik commented on #249
This example uses the Google Charts library directly. Issues with the library should be reported in https://github.com/google/google-visualization-issues/issues

[2021-02-25 19:50] #249 closed

[2021-02-25 19:51] rslawik commented on #219
This example uses the Google Charts library directly. Issues with the library should be reported on https://github.com/google/google-visualization-issues/issues

[2021-02-25 19:51] #219 closed

[2021-02-25 19:53] rslawik commented on #215
This seems to be specific to the Google Chart library directly. Issues for the library should be filed on https://github.com/google/google-visualization-issues/issues

[2021-02-25 19:53] #215 closed

[2021-02-25 19:54] rslawik commented on #217
This could have been a problem with the shadow DOM. Please reopen if you see this problem in the latest LitElement version.

[2021-02-25 19:54] #217 closed

[2021-04-08 11:46] bmz1 commented on #157
Any updates?

[2021-04-09 18:11] rslawik commented on #157
This sounds like a problem with charting library itself. It will be harder to fix.

Do you have a repro / demo for this? That would help me investigate. And also help me see how you expect it to work, because for example: what should happen when CSS says 100% but chart options say 500px?

Thanks!

[2021-04-13 10:27] bmz1 commented on #157
https://codepen.io/flopreynat/pen/BfLkA
I try to achieve something similar (like the codepen) with the google-charts wc, but it's not redrawing the svgs somehow. It only works if I specify a width in pixels and I change that width with media-queries for an example. So there is no dynamic resize.

[code]

[2021-04-13 20:47] rslawik commented on #157
Thanks for the demo @bmz1 - very helpful. I edited it to use `<google-chart>` and it works for me. I created a simplified version https://jsbin.com/bedaqalele/edit?html,output where you can use the slider to set the size for the chart.

Is the simplified version different from your setup? Could it be that `width: 100%` cannot be measured because it is in a flex container that expects child intrins

[2021-04-14 08:35] bmz1 commented on #157
@rslawik Thank you for your response. First, I thought it has something to do with shadowRoot, but I also made a demo with LitElement [https://jsbin.com/vizuniqacu/edit?html,output](https://jsbin.com/vizuniqacu/edit?html,output) and redrawing is working fine.

After that I found out that the flex container was the problem. Since I removed flex, it is working fine. This could be OP's problem as wel

[2021-04-15 14:09] rslawik commented on #157
Great that you have solved it. I will close this issue then.

[2021-04-15 14:09] #157 closed

[2021-08-30 17:46] AndreMendesMarcondes commented on #210
You should wait for finish the request, put await or then after the request and wait it to end

[2021-09-20 22:45] SMSadegh19 opened #311 "Bug Report: Unexpected behavior for some unicode characters."
Hi. I have trouble using some Unicode characters.
It works very unexpectedly for some characters and texts and not for some!
For example, it works correctly:
[example 1](https://chart.apis.google.com/chart?cht=p3&chf=bg%2Cs%2Cffffff&chco=0000ff&chs=350x120&chd=t%3A0%2C23%2C4%2C49&chds=0%2C49&choe=UTF-8&chtt=%D8%B3%D9%84%D8%A7%D9%85&chdl=%D8%B3%D9%84%D8%A7%D9%85%D8%AA%D9%8A%D9%8A%7Cs%7C%D8%B3%D9%84

[2021-09-22 14:06] rslawik commented on #311
Hi @SMSadegh19,

This repo is for the `<google-chart>` web component. The provided examples do not use it, so I will close this issue. Please reopen if the web component is affected too.

The examples use Image Chart API https://developers.google.com/chart/image/ which is officially deprecated. Consider migrating to alternatives like `<google-chart>`. See also https://groups.google.com/g/google-ch

[2021-09-22 14:06] #311 closed

[2021-10-04 10:59] Stradivario opened #314 "Bump version of lit-element to 3.0.0"
Hi guys!

Thank you for the awesome repository!

I am using it from 1 year and i recently updated to lit 2.0.0 and i saw a few versions of lit-html installed inside node_modules.
I have investigated and found out that `google-chart` was to blame so i decided to create a PR bumping the version of `lit-element` to `^3.0.0`.

I have successfully run the tests with status passed

[code]

Everything lo

[2021-10-04 10:59] Stradivario commented on #314
https://github.com/GoogleWebComponents/google-chart/pull/313

[2021-10-04 18:09] rslawik commented on #314
Thanks for the PR.

We were running `<google-chart>` with Lit 2 internally already too.

[2021-10-04 18:09] #314 closed

[2021-11-26 18:57] rslawik commented on #185
All three way in the provided example now work: [example](https://jsbin.com/mojejedeza/edit?html,output).

It works now because the underlying `DataTable` is built in a microtask.

[2021-11-26 18:57] #185 closed

[2021-12-16 11:49] akowi-sknobloch opened #322 "Trouble trying to build with Webpack Can't resolve './loader'"
Hello,

Im trying to use the chart component in my Webapp.
My Client is written in Typescript and bundled using Webpack.

I have a simple Index view as a Lit Webcomponent to test the chart:

[code]

When I try to build the Client using Webpack i get:
[code]

Not sure if the problem is with the library or my Webpack config.
A hacky/temporary fix is editing the `google-chart.js` and adding `.js` to

[2021-12-16 17:07] rslawik commented on #322
Thank you for reporting this @akowi-sknobloch!

I believe we _should_ add the `.js` extension to the import path for the loader. It should be a full path based on:
- https://github.com/TypeStrong/ts-loader/issues/1198
- https://github.com/softwareventures/resolve-typescript-plugin#why
- https://github.com/microsoft/TypeScript/issues/16577#issuecomment-703190339
- https://devblogs.microsoft.com/typ

[2021-12-16 17:21] #322 closed

[2022-03-19 15:16] #228 closed

[2022-11-03 15:29] maxevilmind opened #329 "Passing an object of type DataTable as a data attribute to google-chart does not work"
Passing an object of type DataTable as a data attribute to google-chart does not work.
In the network tab I see a request to localhost that looks like this:
http://localhost:9001/[object%20Object]

[code]

[2022-11-05 00:52] rslawik commented on #329
Hi @maxevilmind

A `DataTable` object cannot be passed as an attribute, it must be passed as a property: `.data=${this.myDataTable}`, see https://lit.dev/docs/v1/components/templates/#bind-properties-to-templated-elements.

There is documentation about the string at the class level: https://github.com/GoogleWebComponents/google-chart/blob/main/google-chart.ts#L100. It would be useful to explain th

[2022-11-07 14:07] maxevilmind commented on #329
@rslawik ehh, I probably was too tired that day passing object as an attribute...
Good to know contributions are welcome,
I will try to find some time to work out a PR